<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9" lang="en" class="no-js"> <![endif]-->
<!--[if !(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <title>Login | Fintrak Enterprise</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Fintrak Enterprise">
    <meta name="author" content="The Developers">
    <!-- CSS -->
    <link href="~/app/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/app/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/app/assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="~/app/assets/css/revamp.css" rel="stylesheet" />
    <link href="~/app/assets/css/forgotpasswordmodalStyle.css" rel="stylesheet" type="text/css" />
    <!--[if lte IE 9]>
        <link href="assets/css/main-ie.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/main-ie-part2.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/kingadmin-favicon144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/kingadmin-favicon114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/kingadmin-favicon72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="assets/ico/kingadmin-favicon57x57.png">
    <link rel="shortcut icon" href="../app/assets/ico/favicon.png">
</head>
<body data-ng-app="fintrak.extra">
    <div class="rv_loginbg">
        @RenderBody()
    </div>
    <footer class="footer">PI360 v2 &copy; 2014-@DateTime.Now.Year Powered by FinTrak Software</footer>
    <!-- Javascript -->

    <script src="~/app/core/controllers/account/account-login-controller.js"></script>
    <script src="~/app/core/models/account/account-login-model.js"></script>
    <script src="~/app/assets/js/jquery/jquery-3.5.0.min.js"></script>
    <script src="~/app/libs/angular.js"></script>
    <script src="~/app/libs/angular-resource.js"></script>
    <script src="~/app/libs/angular-route.js"></script>
    <script src="~/app/assets/js/bootstrap/bootstrap.js"></script>
    <script src="~/app/assets/js/plugins/modernizr/modernizr.js"></script>

    <script src="~/app/common/fintrak-extra.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
