

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div>
                <a class="btn btn-info btn-xs" data-ui-sref="mpr-accountmis-edit({accountmisId:0})"> Create New</a>
            </div> 
            <br />
            
            <table id="accountMISTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>
                            Delete
                        </th>
                        <th>AccountNo</th>
                        <th>AccountName</th>
                        <th>TeamDefinition</th>
                        <th>Team</th>
                        <th>AccountOfficerDefinition</th>
                        <th>AccountOfficer</th>                      
                        <th>Year</th>
                        <th style="width: 3%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="accountMIS in vm.accountMISs">
                        <td>
                            <input type="checkbox"
                                   value="{{accountMIS.AccountMISId}}"
                                   ng-checked="selection.indexOf(accountMIS.AccountMISId) > -1"
                                   ng-click="toggleSelection(accountMIS.AccountMISId)" /> {{accountMIS.AccountMISId}}
                        </td>
                        <td>
                            {{ accountMIS.AccountNo}}
                        </td>
                        <td>
                            {{ accountMIS.AccountName}}
                        </td>
                        <td>
                            {{ accountMIS.TeamDefinitionName}}
                        </td>
                        <td>
                            {{ accountMIS.TeamCode}}
                        </td>
                        <td>
                            {{ accountMIS.AccountOfficerDefinitionCode}}
                        </td>
                        <td>
                            {{ accountMIS.AccountOfficerCode}}
                        </td>
                       
                        <td>
                            {{ accountMIS.Year}}
                        </td>
                        <td>
                            <a class="btn btn-orange btn-xs" data-ui-sref="mpr-accountmis-edit({accountmisId: accountMIS.AccountMISId})">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <a class="btn btn-info btn-xs" ng-click="vm.delete()"> Delete</a>
            </div>
        </div>
    </div>
</div>
