

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div>
                <a class="btn btn-info btn-xs" data-ui-sref="mpr-ratios-edit({ratiosId:0})"> Create New</a>
            </div>
            <br />

            <table id="ratiosTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>Main Caption</th>
                        <th>Numerator</th>
                        <th>Denominator</th>
                        <th>ProRatio</th>
                        <th>BS/PL</th>
                        <th style="width: 3%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ratio in vm.ratios">
                        <td>
                            {{ ratio.MainCaption}}
                        </td>
                        <td>
                            {{ ratio.Numerator}}
                        </td>
                        <td>
                            {{ ratio.Denominator}}
                        </td>
                        <td>
                            {{ ratio.ProRatio}}
                        </td>
                        <td>
                            {{ ratio.Bsin}}
                        </td>
                        <td>
                            <a class="btn btn-orange btn-xs" data-ui-sref="mpr-ratios-edit({ratiosId: ratio.RatiosId})">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
