

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div>
                <a class="btn btn-info btn-xs" data-ui-sref="mpr-teamclassification-edit({teamclassificationId:0})"> Create New</a>
            </div> 
            <br />
            
            <table id="teamClassificationTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Parent</th>
                        <th>Level</th>
                        <th>Year</th>
                        <th>Period</th>
                        <th style="width: 3%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="teamClassification in vm.teamClassifications">
                        <td>
                            {{ teamClassification.Code}}
                        </td>
                        <td>
                            {{ teamClassification.Name}}
                        </td>
                        <td>
                            {{ teamClassification.ClassificationTypeCode}}
                        </td>
                        <td>
                            {{ teamClassification.ParentCode}}
                        </td>
                        <td>
                            {{ teamClassification.Level}}
                        </td>
                        <td>
                            {{ teamClassification.Year}}
                        </td>
                        <td>
                            {{ teamClassification.Period}}
                        </td>
                        <td>
                            <a class="btn btn-orange btn-xs" data-ui-sref="mpr-teamclassification-edit({teamclassificationId: teamClassification.TeamClassificationId})">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
