<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#general" role="tab" data-toggle="tab"><i class="fa fa-home"></i> General</a></li>
                    </ul>

                    <div id="general" class="tab-content">
                        <div id="tab-edit" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="tab-content">
                                        <form action="#" class="form-horizontal">
                                            <div class="form-body">

                                                <div data-ng-include="'app/common/views/validation-view.html'"></div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Account Number</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.mprBalanceSheet.AccountNo" style="width: 250px; background-color: lightblue" ng-disabled="true" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">AccountName</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.mprBalanceSheet.AccountName" style="width:250px;background-color:lightblue" ng-disabled="true" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">TeamCode</label>
                                                    <div class="col-sm-9 controls">
                                                        <select class="form-control" ng-model="vm.mprBalanceSheet.TeamCode" ng-options="team.Code as team.Code for team in vm.teams" style="width:250px;background-color:lightblue"></select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">AccountOfficerCode</label>
                                                    <div class="col-sm-9 controls">
                                                        <select class="form-control" ng-model="vm.mprBalanceSheet.AccountOfficerCode" ng-options="accountofficer.Code as accountofficer.Code for accountofficer in vm.accountofficers" style="width:250px;background-color:lightblue"></select>
                                                    </div>
                                                    <!--<div class="col-sm-1 controls">
                                                        <button type="button" class="btn btn-success btn-sm" ng-click="vm.openGLDialog()"><i class="fa fa-info-circle"></i></button>
                                                    </div>-->
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">ProductCode</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.mprBalanceSheet.ProductCode" style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Category</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.mprBalanceSheet.Category" style="width:250px;background-color:lightblue" ng-disabled="true" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">CurrencyType</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.mprBalanceSheet.CurrencyType" style="width:250px;background-color:lightblue" ng-disabled="true" />
                                                    </div>
                                                </div>

                                            

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">ActualBal</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.mprBalanceSheet.ActualBal" style="width:250px;background-color:lightblue" ng-disabled="true" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">AverageBal</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.mprBalanceSheet.AverageBal" style="width:250px;background-color:lightblue" ng-disabled="true" />
                                                    </div>
                                                </div>

                                                <div class="form-group mbn">
                                                    <label class="col-sm-3 control-label"></label>
                                                    <div class="col-sm-9 controls">
                                                        <button type="button" class="btn btn-success btn-xs" ng-click="vm.save()">
                                                            <i class="fa fa-save"></i>&nbsp;
                                                            Save
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-xs" data-ng-click="vm.delete()">Delete</button>
                                                        <button type="button" class="btn btn-default btn-xs" data-ng-click="vm.cancel()">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

