<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#general" role="tab" data-toggle="tab"><i class="fa fa-home"></i> General</a></li>
                    </ul>

                    <div id="general" class="tab-content">
                        <div id="tab-edit" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="tab-content">
                                        <form action="#" class="form-horizontal">
                                            <div class="form-body">

                                                <div data-ng-include="'app/common/views/validation-view.html'"></div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Product</label>
                                                    <div class="col-sm-9 controls">
                                                        <select class="form-control" ng-model="vm.mprProduct.ProductCode" ng-options="product.Code as product.LongDescription for product in vm.products" style="width:250px;background-color:lightblue"></select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Caption</label>
                                                    <div class="col-sm-9 controls">
                                                        <select class="form-control" ng-model="vm.mprProduct.CaptionCode" ng-options="caption.CaptionCode as caption.CaptionName for caption in vm.captions" style="width:250px;background-color:lightblue"></select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Volume GL</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.mprProduct.VolumeGL" style="width:250px;" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Interest GL</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.mprProduct.InterestGL" style="width:250px;" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Rate</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="number" class="form-control input-sm" data-ng-model="vm.mprProduct.Rate" style="width:250px;" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Module Owner</label>
                                                    <div class="col-sm-9 controls">
                                                        <select class="form-control" ng-model="vm.mprProduct.ModuleOwnerType" ng-options="moduleOwner.Id as moduleOwner.Name for moduleOwner in vm.moduleOwners" style="width:250px;background-color:lightblue"></select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label"></label>
                                                    <div class="checkbox-list">
                                                        <label class="checkbox-inline">
                                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                                            <input type="checkbox" ng-model="vm.mprProduct.Budgetable" />&nbsp;
                                                            Budgetable
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                                            <input type="checkbox" ng-model="vm.mprProduct.IsNotional" />&nbsp;
                                                            Is notional
                                                        </label>
                                                    </div>
                                                </div>


                                                <div class="form-group mbn">
                                                    <label class="col-sm-3 control-label"></label>
                                                    <div class="col-sm-9 controls">
                                                        <button type="button" class="btn btn-success btn-xs" ng-click="vm.save()">
                                                            <i class="fa fa-save"></i>&nbsp;
                                                            Save
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-xs" data-ng-click="vm.delete()">Delete</button>
                                                        <button type="button" class="btn btn-default btn-xs" data-ng-click="vm.cancel()">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

