<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>




	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
		</sectionGroup>

		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="logConfiguration" type="Fintrak.Presentation.WebClient.Logging.LogConfigurationSection" />

		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>

	<connectionStrings>
		<!-- TODO: Replace the ****'s with the correct entries -->
		<add name="FintrakCoreDBConnection" connectionString="server=fintrakcoredb.mysql.database.azure.com;port=3306;user id=fintrakcoredb@fintrakcoredb;database=fintrakcoredb;password=P@ssword10$;charset=utf8;Persist Security Info=True;AutoEnlist=false; Allow User Variables=True;" providerName="MySqlConnector" />
		<add name="FintrakDBConnection" connectionString="server=fintrakcoredb.mysql.database.azure.com;port=3306;user id=fintrakcoredb@fintrakcoredb;database=fintrakcoredb;password=P@ssword10$;charset=utf8;Persist Security Info=True;AutoEnlist=false;Multiple Active Result Sets=True; Allow User Variables=True;" providerName="MySqlConnector" />
		<add name="FintrakDBConnection1" connectionString="server=fintrakcoredb.mysql.database.azure.com;port=3306;user id=fintrakcoredb@fintrakcoredb;database=fintrakdb;password=P@ssword10$;charset=utf8;Persist Security Info=True;AutoEnlist=false; Allow User Variables=True;" providerName="MySqlConnector" />
		<add name="FintrakLogDBConnection" connectionString="server=fintrakcoredb.mysql.database.azure.com;port=3306;user id=fintrakcoredb@fintrakcoredb;database=fintraklogdb;password=P@ssword10$;charset=utf8;Persist Security Info=True; Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />
		<add name="ADConnectionString" connectionString="LDAP://fintrak.com/DC=fintrak,DC=com" />
		<add name="fintrakdbConnectionString" connectionString="server=fintrakcoredb.mysql.database.azure.com;user id=fintrakcoredb@fintrakcoredb;password=P@ssword10$;persistsecurityinfo=True;database=fintrakdb" providerName="MySql.Data.MySqlClient" />
		<!--<add name="elmah-mysql" connectionString="****" />-->
	</connectionStrings>

	<!--<logConfiguration>
    <logProviders>
      <clear />
      <add name="Elmah" type="MvcLoggingDemo.Models.Repository.ElmahRepository" />
      
    </logProviders>
  </logConfiguration>-->


	<!--<appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>-->

	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="owin:AutomaticAppStartup" value="false" />
		<add key="SecurityMode" value="UP" />
		<add key="expectedreferal" value="null" />
		<!--<!Kindly change http://localhost:6861/  to your site url->-->
		<!--<add key="defaultReferrer" value="http://localhost:6861/" />-->
		<add key="ProcessId" value="11" />
		<add key="Status" value="YOU ARE CURRENTLY RUNNING MONTHLY PROCESS" />
		<add key="loginUrl" value="~/Account/Login" />

	</appSettings>

	<system.web>

		<!--<authentication mode="Forms">
      <forms name=".ADAuthCookie" loginUrl="~/Account/Login" timeout="2880" slidingExpiration="false" protection="All" />
    </authentication>-->
		<authentication mode="Forms">
			<forms name=".ADAuthCookie" loginUrl="~/Account/Login" timeout="5" slidingExpiration="true" protection="All" />
		</authentication>
		<roleManager enabled="true" />
		<membership defaultProvider="MySqlSimpleMembershipProvider">
			<providers>
				<clear />
				<add name="simple" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData" />
				<add name="CustomSimpleMembershipProvider" type="Fintrak.Presentation.WebClient.Core.CustomSimpleMembershipProvider, Fintrak.Presentation.WebClient" />
				<!--<remove name="MySqlSimpleMembershipProvider" />
		<add name="MySqlSimpleMembershipProvider" userIdColumn="UserSetupId" userNameColumn="LoginID" userTableName="`fintrakcoredbhmb`.`cor_usersetup`" autoGenerateTables="true" type="MySql.Web.Security.MySqlSimpleMembershipProvider, MySql.Web, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="FintrakCoreDBConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />-->
				<add name="MySqlSimpleMembershipProvider" type="MySql.Web.Security.MySqlSimpleMembershipProvider, MySql.Web" applicationName="MySqlSimpleMembershipTest" description="MySQLdefaultapplication" connectionStringName="FintrakCoreDBConnection" userTableName="cor_usersetup" userIdColumn="UserSetupId" userNameColumn="LoginID" autoGenerateTables="True" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" enablePasswordReset="true" />
				<!--<remove name="MySQLMembershipProvider" />
        <add name="MySQLMembershipProvider" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="FintrakCoreDBConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />-->

			</providers>
		</membership>
		<!--<membership defaultProvider="MySqlSimpleMembershipProvider">
        <providers>
            <clear/>
            <add
             name="MySqlSimpleMembershipProvider"
             type="MySql.Web.Security.MySqlSimpleMembershipProvider,MySql.Web,Version=6.9.12.0,Culture=neutral,PublicKeyToken=c5687fc88969c44d"
             applicationName="MySqlSimpleMembershipTest"
             description="MySQLdefaultapplication"
             connectionStringName="FintrakCoreDBConnection"
             userTableName="cor_usersetup"
             userIdColumn="UserSetupId"
             userNameColumn="LoginID"
             autoGenerateTables="True"/>
        </providers>
    </membership>-->

		<!--<membership defaultProvider="simple">
      <providers>
        <add name="simple" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData" />
      </providers>
    </membership>-->

		<!--<roleManager enabled="true" defaultProvider="simple">
      <providers>
        <add name="simple" type="WebMatrix.WebData.SimpleRoleProvider, WebMatrix.WebData" />
      </providers>
    </roleManager>-->

		<!--<membership defaultProvider="MyADMembershipProvider" >
          <providers>
              <clear />
              <add name="MyADMembershipProvider" 
                    type="System.Web.Security.ActiveDirectoryMembershipProvider, 
          System.Web, Version=4.0.0.0, Culture=neutral, 
          PublicKeyToken=b03f5f7f11d50a3a"
          connectionStringName="ADConnectionString" attributeMapUsername="sAMAccountName" />
          </providers>
      </membership>-->


		<compilation debug="true" targetFramework="4.5">
			<assemblies>

				<add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>

			<buildProviders>

				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />

			</buildProviders>
		</compilation>
		<!--<httpRuntime targetFramework="4.5" />-->
		<httpRuntime encoderType="System.Web.Security.AntiXss.AntiXssEncoder" targetFramework="4.5" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<httpModules>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
		</httpModules>

		<trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />

		<healthMonitoring enabled="true">
			<eventMappings>
				<clear />
				<!-- Log ALL error events -->
				<add name="All Errors" type="System.Web.Management.WebBaseErrorEvent" startEventCode="0" endEventCode="2147483647" />
				<!-- Log application startup/shutdown events -->
				<add name="Application Events" type="System.Web.Management.WebApplicationLifetimeEvent" startEventCode="0" endEventCode="2147483647" />
			</eventMappings>
			<providers>
				<clear />
				<!-- Provide any customized SqlWebEventProvider information here (such as a different connection string name value -->
				<add connectionStringName="FintrakLogDBConnection" maxEventDetailsLength="1073741823" buffer="false" name="SqlWebEventProvider" type="System.Web.Management.SqlWebEventProvider" />
			</providers>
			<rules>
				<clear />
				<add name="All Errors Default" eventName="All Errors" provider="SqlWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
				<add name="Application Events Default" eventName="Application Events" provider="SqlWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
			</rules>
		</healthMonitoring>

		<customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPages/Oops.aspx" />


		<!--<membership defaultProvider="MySQLMembershipProvider">
      <providers>
        <remove name="MySQLMembershipProvider" />
        <add name="MySQLMembershipProvider" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="FintrakCoreDBConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>-->
		<profile>
			<providers>
				<remove name="MySQLProfileProvider" />
				<add name="MySQLProfileProvider" type="MySql.Web.Profile.MySQLProfileProvider, MySql.Web, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="FintrakCoreDBConnection" applicationName="/" />
			</providers>
		</profile>
		<!--<roleManager defaultProvider="MySQLRoleProvider">
      <providers>
        <remove name="MySQLRoleProvider" />
        <add name="MySQLRoleProvider" type="MySql.Web.Security.MySQLRoleProvider, MySql.Web, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="FintrakCoreDBConnection" applicationName="/" />
      </providers>
    </roleManager>-->
		<siteMap>
			<providers>
				<remove name="MySqlSiteMapProvider" />
				<add name="MySqlSiteMapProvider" type="MySql.Web.SiteMap.MySqlSiteMapProvider, MySql.Web, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="FintrakCoreDBConnection" applicationName="/" />
			</providers>
		</siteMap>
		<webParts>
			<personalization>
				<providers>
					<remove name="MySQLPersonalizationProvider" />
					<add name="MySQLPersonalizationProvider" type="MySql.Web.Personalization.MySqlPersonalizationProvider, MySql.Web, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="FintrakCoreDBConnection" applicationName="/" />
				</providers>
			</personalization>
		</webParts>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
		</httpHandlers>
		<httpCookies httpOnlyCookies="true" requireSSL="true" />
	</system.web>

	<elmah>
		<security allowRemoteAccess="1" />

		<errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="FintrakLogDBConnection" />
	</elmah>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<remove name="FormsAuthenticationModule" />
			<add name="Elmah.ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
		</modules>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</handlers>
		<httpProtocol>
			<customHeaders>
				<add name="X-Frame-Options" value="SAMEORIGIN" />
				<add name="Cache-Control" value="no-cache, no-store" />
				<add name="Pragma" value="no-cache" />
				<add name="Expires" value="-1" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="X-XSS-Protection" value="1; mode=block" />
				<add name="Reflected-XSS" value="block" />
				<add name="Content-Security-Policy" value="'self'" />
				<add name="Referrer-Policy" value="strict-origin" />
			</customHeaders>
		</httpProtocol>

		<defaultDocument>
			<files>
				<clear />
				<add value="FinstatReportViewerComparison.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>-->
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.9.12.0" newVersion="6.9.12.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<!--<entityFramework>
		-->
	<!--codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity">-->
	<!--
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v12.0" />
			</parameters>
		</defaultConnectionFactory>-->
	<entityFramework>
		<!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">-->
		<defaultConnectionFactory type="MySql.Data.Entity.MySqlConnectionFactory, MySql.Data.Entity.EF6">
			<!--<parameters>
			<parameter value="mssqllocaldb" />
		</parameters>-->
		</defaultConnectionFactory>
		<providers>
			<!--<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />-->
			<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
		</providers>
	</entityFramework>

	<system.serviceModel>
		<client>
			<!--Core Modules-->
			<endpoint address="http://fintra-finstatserviceportal.azurewebsites.net/SystemCoreService.svc" binding="basicHttpBinding" contract="Fintrak.Client.SystemCore.Contracts.ICoreService" />
			<endpoint address="http://fintra-finstatserviceportal.azurewebsites.net/CoreService.svc" binding="basicHttpBinding" contract="Fintrak.Client.Core.Contracts.ICoreService" />
			<endpoint address="http://fintra-finstatserviceportal.azurewebsites.net/ExtractionProcessService.svc" binding="basicHttpBinding" contract="Fintrak.Client.Core.Contracts.IExtractionProcessService" />

			<!--IFRS Modules-->
			<endpoint address="http://fintra-finstatserviceportal.azurewebsites.net/IFRSCoreService.svc" binding="basicHttpBinding" contract="Fintrak.Client.IFRS.Contracts.IIFRSCoreService" />
			<endpoint address="http://fintra-finstatserviceportal.azurewebsites.net/FinstatService.svc" binding="basicHttpBinding" contract="Fintrak.Client.IFRS.Contracts.IFinstatService" />
			<endpoint address="http://fintra-finstatserviceportal.azurewebsites.net/IFRSLoanService.svc" binding="basicHttpBinding" contract="Fintrak.Client.IFRS.Contracts.IIFRSLoanService" />
			<endpoint address="http://fintra-finstatserviceportal.azurewebsites.net/IExtractedDataService.svc" binding="basicHttpBinding" contract="Fintrak.Client.IFRS.Contracts.IExtractedDataService" />
			<endpoint address="http://fintra-finstatserviceportal.azurewebsites.net/IFRS9Service.svc" binding="basicHttpBinding" contract="Fintrak.Client.IFRS.Contracts.IIFRS9Service" />
			<!--FI Modules-->
			<endpoint address="http://fintra-finstatserviceportal.azurewebsites.net/FinancialInstrumentService.svc" binding="basicHttpBinding" contract="Fintrak.Client.IFRS.Contracts.IFinancialInstrumentService" />

			<!--FIvIEW Modules-->
			<endpoint address="http://fintra-finstatserviceportal.azurewebsites.net/IFRSDataViewService.svc" binding="basicHttpBinding" contract="Fintrak.Client.IFRS.Contracts.IIFRSDataViewService" />

			<!--MRP Modules-->
			<endpoint address="http://fintra-finstatserviceportal.azurewebsites.net/MPRCoreService.svc" binding="basicHttpBinding" contract="Fintrak.Client.MPR.Contracts.IMPRCoreService" />
			<endpoint address="http://fintra-finstatserviceportal.azurewebsites.net/MPRBSService.svc" binding="basicHttpBinding" contract="Fintrak.Client.MPR.Contracts.IMPRBSService" />
			<endpoint address="http://fintra-finstatserviceportal.azurewebsites.net/MPRPLService.svc" binding="basicHttpBinding" contract="Fintrak.Client.MPR.Contracts.IMPRPLService" />
			<endpoint address="http://fintra-finstatserviceportal.azurewebsites.net/MPROPEXService.svc" binding="basicHttpBinding" contract="Fintrak.Client.MPR.Contracts.IMPROPEXService" />

			<!--Budget Modules-->
			<endpoint address="http://fintra-finstatserviceportal.azurewebsites.net/BudgetCoreService.svc" binding="basicHttpBinding" contract="Fintrak.Client.Budget.Contracts.ICoreService" />
			<endpoint address="http://fintra-finstatserviceportal.azurewebsites.net/BudgetTeamService.svc" binding="basicHttpBinding" contract="Fintrak.Client.Budget.Contracts.ITeamService" />

			<!--CDQM Modules-->
			<endpoint address="http://fintra-finstatserviceportal.azurewebsites.net/CDQMService.svc" binding="basicHttpBinding" contract="Fintrak.Client.CDQM.Contracts.ICDQMService" />

			<!--Scorecard Modules-->
			<endpoint address="http://fintra-finstatserviceportal.azurewebsites.net/ScorecardService.svc" binding="basicHttpBinding" contract="Fintrak.Client.Scorecard.Contracts.IScorecardService" />
		</client>

		<bindings>
			<netTcpBinding>
				<binding maxReceivedMessageSize="2000000000" transactionFlow="true">
					<reliableSession enabled="true" />
				</binding>
			</netTcpBinding>
			<basicHttpBinding>
				<binding openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00" maxReceivedMessageSize="2000000000">
				</binding>
			</basicHttpBinding>
		</bindings>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="1" />
	</system.serviceModel>

	<logConfiguration>
		<logProviders>
			<clear />
			<add name="Elmah" type="Fintrak.Presentation.WebClient.Models.Repository.ElmahRepository" />
			<add name="Log4Net" type="Fintrak.Presentation.WebClient.Models.Repository.Log4NetRepository" />
			<add name="Health Monitoring" type="Fintrak.Presentation.WebClient.Models.Repository.HealthMonitoringRepository" />
		</logProviders>
	</logConfiguration>

	<!--<elmah>
		<security allowRemoteAccess="false" />
		<errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="FintrakLogDBConnection" />

		-->
	<!-- 
    <errorMail from="youremail@example.com" to="youremail@example.com" cc="" subject="Elmah Error" async="true" smtpPort="25" smtpServer="[EmailServerName]" userName="" password="" />
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data" />
    -->
	<!--

	<errorLog type="Elmah.MySqlErrorLog, Elmah" connectionStringName="elmah-mysql" /></elmah>

	<location path="elmah.axd" inheritInChildApplications="false">
		<system.web>
			<httpHandlers>
				<add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
			</httpHandlers>
			-->
	<!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
	<!--
		</system.web>
		<system.webServer>
			<handlers>
				<add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
			</handlers>
		</system.webServer>
	</location>-->
	<system.data>
		<DbProviderFactories>
			<add name="MySqlConnector" invariant="MySqlConnector" description="MySQL Connector for .NET" type="MySqlConnector.MySqlConnectorFactory, MySqlConnector, Culture=neutral, PublicKeyToken=d33d3e53aa5f8c92" />
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>

	<!--<location path="elmah.axd">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>-->
</configuration>