

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <a class="btn btn-info btn-sm" data-ui-sref="ifrs-loanprydata-edit({pryId:0})"> Add New Customer</a>&nbsp;&nbsp;&nbsp;
                        <label for="" class="control-label">Main Search: </label>
                        <input type="text" class="input-sm" placeholder="Enter Customer Number or Customer Name" ng-model="vm.serachParam " style="width:300px" />
                        <button type="button" class="btn btn-default btn-sm" ng-click="vm.loadCustomerInfoBySearch()">Load</button>
                        <button type="button" class="btn btn-info btn-sm" ng-click="vm.refresh()">Refresh</button>
                        <!--<a href="Home/LoadExcelrevenue" target="_blank">Export</a>-->
                    </form>
                </div>
            </div>
            <div>
                <!--<a class="btn btn-info btn-xs" data-ui-sref="ifrs-ifrscustomer-edit({ifrsCustomerId:0})"> Create New</a>-->
                <button type="button" ng-csv="vm.ifrsCustomer" filename="IfrsCustomerExport.csv">Full Export</button>
            </div>

            <br />
            
            <table id="ifrsCustomerTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>CustomerNo</th>
                        <th>CustomerName</th>
                        <th>Customer Type</th>
                        <th>Credit Rating</th>
                        <th>Customer Category</th>
                        <!--<th>LGD Type</th>-->                      
                        <th style="width: 3%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ifrsCustomers in vm.ifrsCustomer">
                        <td>
                            {{ ifrsCustomers.CustomerNo}}
                        </td>
                        <td>
                            {{ ifrsCustomers.CustomerName}}
                        </td>
                        <td>
                            {{ ifrsCustomers.CustType}}
                        </td>
                        <td>
                            {{ ifrsCustomers.CreditRating}}
                        </td>
                        <td>
                            {{ ifrsCustomers.CustCategory}}
                        </td>
                        
                        <!--<td>
                            {{ ifrsCustomers.LGD_Type }}
                        </td>-->
                        
                        <td>
                            <a class="btn btn-orange btn-xs" data-ui-sref="ifrs-ifrscustomer-edit({ifrsCustomerId:ifrsCustomers.CustomerId})">
                                Edit
                            </a>
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
