

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div>
                <button type="button" ng-csv="vm.unMappedProducts" filename="UnmappedProductExport.csv">Full Export</button>
            </div>
            <br />
            
            <table id="unMappedProductTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>Product Code</th>
                        <th>Product Name</th>
                        <th>Is In Global Product ?</th>
                        <th style="width: 3%;">Action</th>                          
                      
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="unMappedProducts in vm.unMappedProducts">
                        <td>
                            {{ unMappedProducts.ProductCode}}
                        </td>
                        <td>
                            {{ unMappedProducts.ProductName}}
                        </td>
                        <td>
                            {{ unMappedProducts.InGlobalProduct}}
                        </td>
                        <td>
                            <btn class="btn btn-danger btn-xs" ng-click="vm.MapProduct(unMappedProducts.InGlobalProduct,unMappedProducts.ProductCode,unMappedProducts.ProductName)">  Map Now</btn>
                            <!--<btn class="btn btn-info btn-xs" ng-click="vm.processUpdate(module)" ng-show="module.CanUpdate">Prevent Update</btn>-->
                        </td>
                       

                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
