<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#general" role="tab" data-toggle="tab"><i class="fa fa-home"></i> General</a></li>
                    </ul>

                    <div id="general" class="tab-content">
                        <div id="tab-edit" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="tab-content">
                                        <form action="#" class="form-horizontal">

                                            <div class="form-body">

                                                <div data-ng-include="'app/common/views/validation-view.html'"></div>

                                                <!--<div class="form-group">
                                                    <label class="col-sm-3 control-label">Host</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.general.Host" style="width:350px;" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Email</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="email" class="form-control input-sm" data-ng-model="vm.general.Email" style="width:350px;" />
                                                    </div>
                                                </div>-->


                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Old Password</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="password" class="form-control input-sm" ng-model="vm.changePasswordModel.OldPassword" style="width:250px;" />
                                                    </div>
                                                </div>


                                                <!--<div class="form-group">
                                                    <label class="col-sm-3 control-label">New Password</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="password" class="form-control input-sm" ng-model="vm.changePasswordModel.NewPassword" style="width:250px;" id="password" required/>
                                                        <div id="messages"></div>
                                                    </div>
                                                </div>-->

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">New Password</label>
                                                    <div class="col-sm-9 controls">
                                                        <label ng-style="customStyle.style">
                                                            <input type="password" class="form-control input-sm" ng-model="vm.changePasswordModel.NewPassword" ng-change="vm.checkpw(vm.changePasswordModel.NewPassword)" style="width:250px;" />
                                                            {{vm.strength}}
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Confirm Password</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="password" class="form-control input-sm" ng-model="vm.changePasswordModel.ConfirmPassword" style="width:250px;" required/>
                                                    </div>
                                                </div>
                                                                                   
                                                <div class="form-group mbn">
                                                    <label class="col-sm-3 control-label"></label>
                                                    <div class="col-sm-9 controls">
                                                        <button type="button" class="btn btn-success btn-xs" ng-disabled="disabled" ng-click="vm.changePasswordModel(vm.changePasswordModel.OldPassword,vm.changePasswordModel.NewPassword,vm.changePasswordModel.ConfirmPassword)">
                                                            <i class="fa fa-save"></i>
                                                            Save
                                                        </button>
                                                                                                               
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            

        </div>
    </div>
</div>

   