<div class="main-header">
    <h2>Profile</h2>
    <em>user profile page</em>
</div>

<div class="main-content">
    <!-- NAV TABS -->
    <ul class="nav nav-tabs nav-tabs-custom-colored tabs-iconized">
        <li class="active"><a href="#profile-tab" data-toggle="tab"><i class="fa fa-user"></i> Profile</a></li>
        <li><a href="#activity-tab" data-toggle="tab"><i class="fa fa-rss"></i> Solution Info</a></li>
        <li><a href="#settings-tab" data-toggle="tab"><i class="fa fa-gear"></i> Settings</a></li>
    </ul>
    <!-- END NAV TABS -->
    <div class="tab-content profile-page">
        <!-- PROFILE TAB CONTENT -->
        <div class="tab-pane profile active" id="profile-tab">
            <div class="row">
                <div class="col-md-3">
                    <div class="user-info-left">
                        <img src="app/core/images/profile-avatar.jpg" alt="Profile Picture" id="photo-id" />
                        <!--<img ng-src="data:image/JPEG;base64,{{vm.userProfile.Photo}}" id="photo-id">-->
                        <h2>{{vm.userProfile.Name}} <i class="fa fa-circle green-font online-icon"></i><sup class="sr-only">online</sup></h2>
                        <div class="contact">
                            <!--<a href="#" class="btn btn-block btn-custom-primary"><i class="fa fa-envelope-o"></i> Send Message</a>
                            <a href="#" class="btn btn-block btn-custom-secondary"><i class="fa fa-book"></i> Add To Contact</a>-->
                            <ul class="list-inline social">
                                <li><a href="https://web.facebook.com/fintraksoftware" target="_blank" title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="https://twitter.com/fintraksoftware" target="_blank" title="Twitter"><i class="fa fa-twitter-square"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/farsight-consultancy-service" target="_blank" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="user-info-right">
                        <div class="basic-info">
                            <h3><i class="fa fa-square"></i> Basic Information</h3>
                            <p class="data-row">
                                <span class="data-name">Login ID</span>
                                <span class="data-value">{{vm.userProfile.LoginID}}</span>
                            </p>
                            <p class="data-row">
                                <span class="data-name">Name</span>
                                <span class="data-value">{{vm.userProfile.Name}}</span>
                            </p>

                            <p class="data-row">
                                <span class="data-name">Login Date</span>
                                <span class="data-value">{{vm.userProfile.LatestConnection | date}}</span>
                            </p>

                            <!--<p class="data-row">
                                <span class="data-name">Change Picture (100 by 100 px)</span>
                                <span class="data-value"><input type="file" name="file" onchange="angular.element(this).scope().vm.uploadPhoto(this, 'photo-id')" id="photo-upload"/></span>
                            </p>-->
                            
                        </div>
                        <div class="contact_info">
                            <h3><i class="fa fa-square"></i> Contact Information</h3>
                            <p class="data-row">
                                <span class="data-name">Email</span>
                                <span class="data-value">{{vm.userProfile.Email}}</span>
                            </p>
                            <p class="data-row">
                                <span class="data-name">Phone</span>
                                <span class="data-value">(1800) 221 - 876543</span>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- END PROFILE TAB CONTENT -->
        <!-- ACTIVITY TAB CONTENT -->
        <div class="tab-pane activity" id="activity-tab">
            <h3><i class="fa fa-square"></i> Solution run dates</h3>
            <ul class="list-unstyled activity-list">
                <li ng-repeat="runDate in  vm.solutionRunDates">
                    <i class="fa fa-calendar activity-icon pull-left"></i>
                    <p>
                        Current run date for <a href="#">{{runDate.SolutionName}}</a> is <a href="#">{{runDate.RunDate | date}}</a>
                    </p>
                </li>
            </ul>
            &nbsp;&nbsp;
            <h3><i class="fa fa-square"></i> Roles</h3>
            <ul class="list-unstyled activity-list">
                <li ng-repeat="role in  vm.userRoles">
                    <i class="fa fa-key activity-icon pull-left"></i>
                    <p>
                        User role for <a href="#">{{role.SolutionName}}</a> is <a href="#">{{role.RoleName}}</a>
                    </p>
                </li>
            </ul>
        </div>
        <!-- END ACTIVITY TAB CONTENT -->
        <!-- SETTINGS TAB CONTENT -->
        <div class="tab-pane settings" id="settings-tab">
            <form class="form-horizontal" role="form">
                <div data-ng-include="'app/common/views/validation-view.html'"></div>
                <fieldset>
                    <h3><i class="fa fa-square"></i> Change Password</h3>
                    <!--<div class="form-group">
                        <label for="old-password" class="col-sm-3 control-label">Old Password</label>
                        <div class="col-sm-4">
                            <input type="password" id="old-password" name="old-password" class="form-control">
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Old Password</label>
                        <div class="col-sm-9 controls input-group">
                            <label>
                                <input type="password" id="passwordview" class="form-control input-sm" ng-model="vm.changePasswordModel.OldPassword" style="width:250px;" />
                                <span class="input-group-addon" id="icontoggle" style="cursor:pointer;" ng-click="vm.seepassword()"><i class="fa fa-eye-slash fa-fw"></i></span>
                            </label>
                        </div>
                    </div>
                    <hr />
                    <!--<div class="form-group">
                        <label for="password" class="col-sm-3 control-label">New Password</label>
                        <div class="col-sm-4">
                            <input type="password" id="password" name="password" class="form-control">
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">New Password</label>
                        <div class="col-sm-9 controls input-group">
                            <label ng-style="customStyle.style">
                                <input type="password" id="passwordnewview" class="form-control input-sm" ng-model="vm.changePasswordModel.NewPassword" ng-change="vm.checkpw(vm.changePasswordModel.NewPassword)" style="width:250px;" />
                                <span class="input-group-addon" id="iconnewtoggle" style="cursor:pointer;" ng-click="vm.seenewpassword()"><i class="fa fa-eye-slash fa-fw"></i></span>
                                <br />
                                {{vm.strength}}
                            </label>
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label for="password2" class="col-sm-3 control-label">Repeat Password</label>
                        <div class="col-sm-4">
                            <input type="password" id="password2" name="password2" class="form-control">
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Confirm Password</label>
                        <div class="col-sm-9 controls input-group">
                            <input type="password" id="passwordnewview2" class="form-control input-sm" ng-model="vm.changePasswordModel.ConfirmPassword" style="width:250px;" required />
                        </div>
                    </div>
                </fieldset>

                <div class="form-group mbn">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-9 controls">
                        <button type="button" class="btn btn-success btn-xs" ng-disabled="disabled" ng-click="vm.changePasswordModel(vm.changePasswordModel.OldPassword,vm.changePasswordModel.NewPassword,vm.changePasswordModel.ConfirmPassword)">
                            <i class="fa fa-save"></i>
                            Save
                        </button>

                    </div>
                </div>

            </form>
            <!--<p class="text-center"><a href="api/account/changepw/" class="btn btn-custom-primary"><i class="fa fa-floppy-o"></i> Save Changes</a></p>-->

            <!--<div class="form-group mbn">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-9 controls">
                    <button type="button" class="btn btn-success btn-xs" ng-click="angular.element(this).scope().vm.changePassword()">
                        <span class="data-value"><input type="file" name="file" onchange="angular.element(this).scope().vm.uploadPhoto(this, 'photo-id')" id="photo-upload" /></span>
                        <i class="fa fa-save"></i>&nbsp;
                        Save
                    </button>
                </div>
            </div>-->

        </div>
        <!-- END SETTINGS TAB CONTENT -->
    </div>
</div>
