

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <br />

            <table id="bondMarginalPDDistributionTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>AccountNo</th>
                        <th>Refno</th>
                        <th>SeqNo</th>
                        <th>Currency</th>
                        <th>CurrentRating</th>
                        <th>date_pmt</th>
                        <th>AmortizedCost</th>
                        <th>TenorInDays</th>
                        <th>TotalTenorInDays</th>
                        <th>Staging</th>
                        <th>PD</th>
                        <th>CumulativePD</th>
                        <th>MarginalPD</th>
                        <th>Rundate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bondMarginalPDDistribution in vm.bondMarginalPDDistributions">
                        <td>
                            {{ bondMarginalPDDistribution.AccountNo}}
                        </td>
                        <td>
                            {{ bondMarginalPDDistribution.Refno }}
                        </td>
                        <td>
                            {{ bondMarginalPDDistribution.SeqNo}}
                        </td>
                        <td>
                            {{ bondMarginalPDDistribution.Currency}}
                        </td>
                        <td>
                            {{ bondMarginalPDDistribution.CurrentRating}}
                        </td>
                        <td>
                            {{ bondMarginalPDDistribution.date_pmt | date:'dd-MM-yyyy'}}
                        </td>
                        <td>
                            {{ bondMarginalPDDistribution.AmortizedCost | number}}
                        </td>
                        <td>
                            {{ bondMarginalPDDistribution.TenorInDays }}
                        </td>
                        <td>
                            {{ bondMarginalPDDistribution.TotalTenorInDays}}
                        </td>
                        <td>
                            {{ bondMarginalPDDistribution.Staging}}
                        </td>
                        <td>
                            {{ bondMarginalPDDistribution.PD}}
                        </td>
                        <td>
                            {{ bondMarginalPDDistribution.CumulativePD}}
                        </td>
                        <td>
                            {{ bondMarginalPDDistribution.MarginalPD}}
                        </td>
                        <td>
                            {{ bondMarginalPDDistribution.Rundate | date:'dd-MM-yyyy'}}
                        </td>
                        
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
