

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div>
                <a class="btn btn-info btn-xs" data-ui-sref="ifrs9-collateralinput-edit({Collateral_Id:0})"> Create New</a>
            </div> 
            <br />
            
            <table id="collateralInputsTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Code</th>
                        <th>Collateral_haircut(%)</th>
                        <th>Collateral_Growth_rate(%)</th>
                        <th>Cost_of_recovery(%)</th>
                        <th>Time_of_recovery(In Mths)</th>
                        <!--<th>catergory</th>-->
                        <th style="width: 3%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="collateralInput in vm.collateralInputs">
                        <td>
                            {{ collateralInput.type }}
                        </td>
                        <td>
                            {{ collateralInput.code }}
                        </td>
                        <td>
                            {{ collateralInput.Collateral_haircut }}
                        </td>
                        <td>
                            {{ collateralInput.Collateral_Growth_rate }}
                        </td>
                        <td>
                            {{ collateralInput.Cost_of_recovery }}
                        </td>
                        <td>
                            {{ collateralInput.Time_of_recovery }}
                        </td>
                        <!--<td>
                            {{ collateralInput.catergory }}
                        </td>-->
                        <td>
                            <a class="btn btn-orange btn-xs" data-ui-sref="ifrs9-collateralinput-edit({Collateral_Id: collateralInput.Collateral_Id})">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
