

<div class="main-content">
    <div class="widget widget-table">

        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>

        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form>

                        <label for="" class="control-label">Main Search: </label>
                        <input type="text" class="input-sm" placeholder="Enter Type Code" ng-model="vm.searchParam " style="width:300px" />
                        <button type="button" class="btn btn-default btn-sm" ng-click="vm.loadCollateralGrowthRateBySearch()">Load</button>
                        <button type="button" class="btn btn-info btn-sm" ng-click="vm.refresh()">Refresh</button>

                    </form>
                </div>
            </div>

            <table id="collateralGROWTHrateTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>Seq</th>
                        <th>Type Code</th>
                        <th>Inflation</th>
                        <th>Depreciation</th>
                        <th>Growth Rate</th>
                        <th>Date Pmt</th>                       
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="collateralGROWTHrates in vm.collateralGROWTHrate">
                        <td>{{ collateralGROWTHrates.seq }}</td>
                        <td>{{ collateralGROWTHrates.TypeCode }}</td>
                        <td>{{ collateralGROWTHrates.Inflation }}</td>
                        <td>{{ collateralGROWTHrates.Depreciation }}</td>
                        <td>{{ collateralGROWTHrates.GrowthRate }}</td>
                        <td>{{ collateralGROWTHrates.date_pmt | date }}</td>                       
                    </tr>
                </tbody>
            </table>

        </div>



    </div>
</div>
