

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>
            
            <div>
                <a class="btn btn-info btn-xs" data-ui-sref="ifrs9-historicalsectoriallgd-edit({historicalsectoriallgdId:0})"> LGD Computation</a>
            </div> 
            <br />
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="checkbox-list">
                    <!--<label class="checkbox-inline">
                        <input type="radio" value="1" name="status" class="radio" id="LGD" ng-click="vm.LGD(true)" ng-checked="true" >
                        <label for="lgd">PD</label>
                    </label>-->
                    <!--<label class="checkbox-inline">
                        <input type="radio" value="2" name="status" class="radio" id="lgd" ng-click="vm.lgd(false)">
                        <label for="lgd">LGD</label>
                    </label>-->
                    <!--<label class="checkbox-inline">
                        <input type="radio" value="3" name="status" class="radio" id="lgdlgd" ng-click="vm.lgdlgd(false)">
                        <label for="lgdlgd">Combined</label>
                    </label>-->
                </div>
            </div>

            <table id="historicalSectorialLGDTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable" >

                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Period</th>
                        <th>Grouping</th>
                        <th>Description</th>                      
                        <th>Average LGD %</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="historicalSectorialPD in vm.historicalSectorialLGDs">
                        <td>
                            {{ historicalSectorialPD.Year}}
                        </td>
                        <td>
                            {{ historicalSectorialPD.Period}}
                        </td>
                        <td>
                            {{ historicalSectorialPD.SectorCode}}
                        </td>
                        <td>
                            {{ historicalSectorialPD.SectorName}}
                        </td>
                        <td>
                            {{ historicalSectorialPD.AvgLGD}}
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
