

<div class="main-content">
    <div class="widget widget-table">

        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>

        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form>

                        <label for="" class="control-label">Main Search: </label>
                        <input type="text" class="input-sm" placeholder="Enter Reference Number or Account Number" ng-model="vm.searchParam " style="width:300px" />
                        <button type="button" class="btn btn-default btn-sm" ng-click="vm.loadOdLGDComputationBySearch()">Load</button>
                        <button type="button" class="btn btn-info btn-sm" ng-click="vm.refresh()">Refresh</button>

                    </form>
                </div>
            </div>
            <button ng-click="vm.exportAllData()">Export</button>

            <table id="odlgdTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>DefaultType</th>
                        <th>DefaultParam</th>
                        <th>DaysPastDue</th>
                        <th>Action</th>
                        <!--<th style="width: 3%;">Action</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="odlgdcompt in  vm.MissedPaymentResult">
                        <td>{{ odlgdcompt.DefaultType }}</td>
                        <td>{{ odlgdcompt.DefaultParam }}</td>
                        <td>{{ odlgdcompt.DaysPastDue	}}</td>
                        <td>

                        
                            <a class="btn btn-orange btn-xs" data-ui-sref="Ifrsloanmisspayment-edit({ID: odlgdcompt.ID})">
                                Edit 
                            </a>

                                <!--<a class="btn btn-orange btn-xs" data-ui-sref="ifrs9-collateralinput-edit({Collateral_Id: collateralInput.Collateral_Id})">
                                    Edit 2
                                </a>-->
</td>
                    </tr>


                </tbody>
            </table>

        </div>



    </div>
</div>
