

<div class="main-content">
    <div class="widget widget-table">

        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>

        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form>

                        <label for="" class="control-label">Main Search: </label>
                        <input type="text" class="input-sm" placeholder="Enter Reference Number or Account Number" ng-model="vm.searchParam " style="width:300px" />
                        <button type="button" class="btn btn-default btn-sm" ng-click="vm.loadIfrslgdprojectionsComputationBySearch()">Load</button>
                        <button type="button" class="btn btn-info btn-sm" ng-click="vm.refresh()">Refresh</button>
                        <button type="button" class="btn btn-info btn-sm" ng-click="vm.exportAllData()">Export</button>
                    </form>
                </div>
            </div>
 
    

            <table id="IfrslgdprojectionsTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        
                        <th>AccountNo</th>
                        <th>Ref No</th>
                        <th>Product Type</th>
                        <th>Scenerio</th>
                        <th>Process Date</th>
                        <th>EAD</th>
                        <th>Stage</th>
                        <th>Collateral ForeCast</th>
                        <th>Cure Rate</th>
                        <th>Recovery Rate</th>
                        <th>LGD Projection</th>
                    
                        <!--<th style="width: 3%;">Action</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ifrslgd in vm.Ifrslgdprojections">
                        
                        <td>{{ ifrslgd.AccountNo }}</td>
                        <td>{{ ifrslgd.Refno }}</td>
                        <td>{{ ifrslgd.ProductType	}}</td>
                        <td>{{ ifrslgd.Scenerio	}}</td>
                        <td>{{ ifrslgd.Processdate | date }}</td>
                        <td>{{ ifrslgd.EAD  | number }}</td>
                        <td>{{ ifrslgd.Stage }}</td>
                        <td>{{ ifrslgd.CollateralForecast }}</td>
                        <td>{{ ifrslgd.CureRate }}</td>
                        <td>{{ ifrslgd.RecoveryRate }}</td>
                        <td>{{ ifrslgd.LGDProjection }}</td>
                        
                    </tr>


                </tbody>
            </table>

        </div>



    </div>
</div>
