

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>


            <br />

            <table id="lcBgEclComputationResultTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>Refno</th>
                        <th>CustomerName</th>
                        <th>date_pmt</th>
                        <th>YTM</th>
                        <th>Code</th>
                        <th>FacilityType</th>
                        <th>Stage</th>
                        <th>Seq</th>
                        <th>AmortizedCost</th>
                        <th>Currency</th>
                        <th>Exchange</th>
                        <th>LifetimePD</th>
                        <th>DiscountFactor</th>
                        <th>DiscountedCollateralValue</th>
                        <th>LGD</th>
                        <th>Sector</th>
                        <th>CollateralStatus</th>
                        <th>UnAdjusted ECL</th>
                        <th>MacroBest</th>
                        <th>ECLBest</th>
                        <th>MacroOptimistic</th>
                        <th>ECLOptimistic</th>
                        <th>MacroDownTurn</th>
                        <th>ECLDownTurn</th>
                        <th>Prob.Weighted.ECL</th>
                        <th>Rundate</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lcBgEclComputationResult in vm.lcBgEclComputationResults">
                        <td>
                            {{ lcBgEclComputationResult.Refno }}
                        </td>
                        <td>
                            {{ lcBgEclComputationResult.CustomerName }}
                        </td>
                        <td>
                            {{ lcBgEclComputationResult.date_pmt | date:'dd-MM-yyyy'}}
                        </td>
                        <td>
                            {{ lcBgEclComputationResult.YTM}}
                        </td>
                        <td>
                            {{ lcBgEclComputationResult.Code}}
                        </td>
                        <td>
                            {{ lcBgEclComputationResult.FacilityType}}
                        </td>
                        <td>
                            {{ lcBgEclComputationResult.Stage }}
                        </td>
                        <td>
                            {{ lcBgEclComputationResult.Seq }}
                        </td>
                        <td>
                            {{ lcBgEclComputationResult.AmortizedCost | number}}
                        </td>
                        <td>
                            {{ lcBgEclComputationResult.Currency}}
                        </td>
                        <td>
                            {{ lcBgEclComputationResult.Exchange}}
                        </td>
                        <td>
                            {{ lcBgEclComputationResult.LifetimePD}}
                        </td>
                        <td>
                            {{ lcBgEclComputationResult.DiscountFactor }}
                        </td>
                        <td>
                            {{ lcBgEclComputationResult.DiscountedCollateralValue }}
                        </td>
                        <td>
                            {{ lcBgEclComputationResult.LGD }}
                        </td>
                        <td>
                            {{ lcBgEclComputationResult.Sector}}
                        </td>
                        <td>
                            {{ lcBgEclComputationResult.CollateralStatus}}
                        </td>
                        <td>
                            {{ lcBgEclComputationResult.ECLOutput | number}}
                        </td>
                        <td>
                            {{ lcBgEclComputationResult.MEcoECLBest | number}}
                        </td>
                        <td>
                            {{ lcBgEclComputationResult.FinalECLBest | number}}
                        </td>
                        <td>
                            {{ lcBgEclComputationResult.MEcoECLOptimistic | number}}
                        </td>
                        <td>
                            {{ lcBgEclComputationResult.FinalECLOptimistic | number}}
                        </td>
                        <td>
                            {{ lcBgEclComputationResult.MEcoECLDownTurn | number}}
                        </td>
                        <td>
                            {{ lcBgEclComputationResult.FinalECLDownTurn | number}}
                        </td>
                        <td>
                            {{ lcBgEclComputationResult.FinalECLWeightAvg | number}}
                        </td>
                    
                        <td>
                            {{ lcBgEclComputationResult.Rundate | date:'dd-MM-yyyy'}}
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
