<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#general" role="tab" data-toggle="tab"><i class="fa fa-home"></i> General</a></li>
                    </ul>

                    <div id="general" class="tab-content">
                        <div id="tab-edit" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="tab-content">
                                        <form action="#" class="form-horizontal">
                                            <div class="form-body">

                                                <div data-ng-include="'app/common/views/validation-view.html'"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">AccountNo</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.lgdComptResult.AccountNo"
                                                               style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">RefNo</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.lgdComptResult.Refno"
                                                               style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Product Type</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.lgdComptResult.Producttype"
                                                               style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Sub type</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.lgdComptResult.SubType"
                                                               style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Customer Name</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.lgdComptResult.CustomerName"
                                                               style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Currency</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.lgdComptResult.Currency"
                                                               style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Exchange Rate</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.lgdComptResult.ExchangeRate"
                                                               style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Date pmt</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="date" class="form-control input-sm" data-ng-model="vm.lgdComptResult.date_pmt"
                                                               style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">AmortizedCost FCY</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.lgdComptResult.AmortizedCost_FCY"
                                                               style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">AmortizedCost LCY</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.lgdComptResult.AmortizedCost_LCY"
                                                               style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">EIR</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.lgdComptResult.EIR"
                                                               style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Stage</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.lgdComptResult.Stage"
                                                               style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">MaturityDate</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="date" class="form-control input-sm" data-ng-model="vm.lgdComptResult.MaturityDate"
                                                               style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">TotalColRecAmt</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.lgdComptResult.TotalColRecAmt"
                                                               style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">RecoveryRate</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.lgdComptResult.RecoveryRate"
                                                               style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">UNSecuredRecovery</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.lgdComptResult.UNSecuredRecovery"
                                                               style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">TotalRecoverableAmt</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.lgdComptResult.TotalRecoverableAmt"
                                                               style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">LGD</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.lgdComptResult.LGD"
                                                               style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>


                                                <div class="form-group mbn">
                                                    <label class="col-sm-3 control-label"></label>
                                                    <div class="col-sm-9 controls">
                                                        <button type="button" class="btn btn-success btn-xs" ng-click="vm.save()">
                                                            <i class="fa fa-save"></i>&nbsp;
                                                            Update
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-xs" data-ng-click="vm.delete()">Delete</button>
                                                        <button type="button" class="btn btn-default btn-xs" data-ng-click="vm.cancel()">Cancel</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

