

<div class="main-content">
    <div class="widget widget-table">

        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>

        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form>

                        <label for="" class="control-label">Main Search: </label>
                        <input type="text" class="input-sm" placeholder="Enter Reference Number or Account Number" ng-model="vm.searchParam " style="width:300px" />
                        <button type="button" class="btn btn-default btn-sm" ng-click="vm.loadLoansECLComputationResultBySearch()">Load</button>
                        <button type="button" class="btn btn-info btn-sm" ng-click="vm.refresh()">Refresh</button>
                        <!--<a href="Home/LoadExcelrevenue" target="_blank">Export</a>-->
                        <div type="button" class="btn btn-success btn-sm" ng-click="vm.exportAllData()">Export</div>
                    </form>
                </div>
            </div>
            <!--<div>
                <button type="button" ng-csv="vm.loansecLComputationresultTable" filename="LoanPryExport.csv">Full Export</button>
            </div>
            <br />-->

            <table id="loansecLComputationresultTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>CustID</th>
                        <th>AccountNo</th>
                        <th>CustomerName</th>
                        <th>Date</th>
                        <th>HC1</th>
                        <th>HC2</th>
                        <th>Stage</th>
                        <th>Cur</th>
                        <th>Rate</th>
                        <th>EAD</th>
                        <th>EAD_Trans</th>
                        <th>EIR</th>
                        <th>PrincipalOutBal</th>
                        <th>TotalRecAmt</th>
                        <th>LGD</th>
                        <th>DisFactor</th>
                        <th>PDBest</th>
                        <th>PDOptimistic</th>
                        <th>PDDownTurn</th>
                        <th>ECLBest</th>
                        <th>ECLOptimistic</th>
                        <th>ECLDownTurn</th>
                        <th>ECLWeightAvg</th>
                        <th>Rundate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="loansecLComputationresults in vm.loansecLComputationresult">

                        <td> {{ loansecLComputationresults.AccountNo }} </td>
                        <td> {{ loansecLComputationresults.Refno }} </td>
                        <td> {{ loansecLComputationresults.CustomerName }} </td>
                        <td> {{ loansecLComputationresults.date_pmt | date  }} </td>
                        <td> {{ loansecLComputationresults.Producttype }} </td>
                        <td> {{ loansecLComputationresults.SubType }} </td>
                        <td> {{ loansecLComputationresults.Stage }} </td>
                        <td> {{ loansecLComputationresults.Currency }} </td>
                        <td> {{ loansecLComputationresults.ExchangeRate }} </td>
                        <td> {{ loansecLComputationresults.AmortizedCost | currency :"":0 }} </td>
                        <td> {{ loansecLComputationresults.AmortizedCost_Trans | currency :"":0 }} </td>
                        <td>{{ loansecLComputationresults.EIR | currency :"":0}}</td>
                        <td>{{ loansecLComputationresults.PrincipalOutBal | currency :"":0}}</td>
                        <td> {{ loansecLComputationresults.TotalRecoverableAmt | currency :"":0 }} </td>
                        <td> {{ loansecLComputationresults.LGD }} </td>
                        <td> {{ loansecLComputationresults.DiscountFactor }} </td>
                        <td> {{ loansecLComputationresults.PDBest }} </td>
                        <td> {{ loansecLComputationresults.PDOptimistic | number}} </td>
                        <td> {{ loansecLComputationresults.PDDownTurn | number}} </td>
                        <td> {{ loansecLComputationresults.FinalECLBest | number}} </td>
                        <td> {{ loansecLComputationresults.FinalECLOptimistic | number}} </td>
                        <td> {{ loansecLComputationresults.FinalECLDownTurn | number}} </td>
                        <td> {{ loansecLComputationresults.FinalECLWeightAvg  | number}} </td>
                        <td> {{ loansecLComputationresults.Rundate | date }} </td>


                    </tr>
                </tbody>
            </table>

        </div>



    </div>
</div>
