

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>
            <!--<button class="btn btn-info btn-sm" data-ng-click="vm.pddistribution()"> PD Distribution</button>
            <button class="btn btn-info btn-sm" data-ng-click="vm.pastduedistribution()"> Past Due Distribution</button>-->
            <table id="loanSpreadScenarioTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable" >

                <thead>
                    <tr>
                        <th>RefNo</th>
                        <th>AccountNo</th>
                        <th>Sector</th>                        
                        <th>Tenor</th>
                        <th>LifeTimePD</th>
                        <th>12MonthPD</th>
                        <th>Rating</th>
                        <th>Bucket</th>
                        <th>LGD</th>
                        <th>EAD</th>
                        <th>Impairment Charge</th>
                        <th>Using</th>
                        <!--<th style="width: 3%;">Action</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="loanSpreadScenarios in vm.loanSpreadScenario">
                        <td>
                            {{ loanSpreadScenarios.RefNo}}
                        </td>
                        <td>
                            {{ loanSpreadScenarios.AccountNo}}
                        </td>
                        <td>
                            {{ loanSpreadScenarios.Sector}}
                        </td>
                        <td>
                            {{ loanSpreadScenarios.Tenor}}
                        </td>
                        <td>
                            {{ loanSpreadScenarios.LifeTimePD}}
                        </td>
                        <td>
                            {{ loanSpreadScenarios.AnnualPD}}
                        </td>
                        <td>
                            {{ loanSpreadScenarios.Rating}}
                        </td>
                        <td>
                            {{ loanSpreadScenarios.Bucket}}
                        </td>
                        <td>
                            {{ loanSpreadScenarios.Lgd}}
                        </td>
                        <td>
                            {{ loanSpreadScenarios.EAD | currency :"":0 }}
                        </td>
                        <td>
                            {{ loanSpreadScenarios.ImpairmentCharge | currency :"":0 }}
                        </td>
                        <td>
                            {{ loanSpreadScenarios.SpreadBy}}
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>
