

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div>
                <a class="btn btn-info btn-xs" data-ui-sref="ifrs9-localbondspread-edit({localbondspreadId:0})"> Create New</a>
            </div>
            <br />

            <table id="localBondSpreadTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>ConDate</th>
                        <th>ZeroRate</th>
                        <th>Classification</th>
                        <th style="width: 3%;">Action</th>
                    </tr>
                </thead>


                <tbody>
                    <tr ng-repeat="localBondSpread in vm.localBondSpreads">
                        <td>
                            {{ localBondSpread.ConDate | date:'dd-MM-yyyy'}}
                        </td>
                        <td>
                            {{ localBondSpread.ZeroRate }}
                        </td>
                        <td>
                            {{ localBondSpread.Classification}}
                        </td>
                        <td>
                            <a class="btn btn-orange btn-xs" data-ui-sref="ifrs9-localbondspread-edit({localbondspreadId: localBondSpread.ID})">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
