

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div>
                <a class="btn btn-info btn-xs" data-ui-sref="ifrs9-macroeconomic-edit({macroeconomicId:0})"> Create New</a>
            </div> 
            <br />
            
            <table id="macroEconomicTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>Sector</th>
                        <th>Year</th>
                        <th>lst Variable</th>
                        <th>2nd Variable</th>
                        <th>3rd Variable</th>
                        <th>4th Variable</th>
                        <th>5th Variable</th>
                        <!--<th>CompanyCode</th>-->
                       
                        <th style="width: 3%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="macroEconomic in vm.macroEconomics">
                        <td>
                            {{ macroEconomic.Sector_Code}}
                        </td>
                        <td>
                            {{ macroEconomic.Year}}
                        </td>

                        <td>
                            {{ macroEconomic.Variable1}}
                        </td>
                        <td>
                            {{ macroEconomic.Variable2}}
                        </td>
                        <td>
                            {{ macroEconomic.Variable3}}
                        </td>
                        <td>
                            {{ macroEconomic.Variable4}}
                        </td>

                        <td>
                            {{ macroEconomic.Variable5}}
                        </td>
                      
                        <td>
                            <a class="btn btn-orange btn-xs" data-ui-sref="ifrs9-macroeconomic-edit({macroeconomicId: macroEconomic.MacroEconomicId})">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
