<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#general" role="tab" data-toggle="tab"><i class="fa fa-home"></i> General</a></li>
                    </ul>

                    <div id="general" class="tab-content">
                        <div id="tab-edit" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="tab-content">
                                        <form action="#" class="form-horizontal">
                                            <div class="form-body">

                                                <div data-ng-include="'app/common/views/validation-view.html'"></div>
                                                <div ng-if="!vm.macrovariableEstimate.MacrovariableEstimate_Id" class="form-group">
                                                    <label class="col-sm-3 control-label">Category</label>
                                                    <div class="col-sm-9 controls">
                                                        <select class="form-control" ng-model="vm.macrovariableEstimate.Category" ng-options="category.Name as category.Name for category in vm.categories" style="width:250px;background-color:lightblue">
                                                            <option value="" ng-disabled="true" selected>--Select Category--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div ng-if="vm.macrovariableEstimate.MacrovariableEstimate_Id" class="form-group">
                                                    <label class="col-sm-3 control-label">Category</label>
                                                    <div class="col-sm-9 controls">
                                                        <select class="form-control" ng-disabled="true" ng-model="vm.macrovariableEstimate.Category" ng-options="category.Name as category.Name for category in vm.categories" style="width:250px;background-color:lightblue"></select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Sequence</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="number" class="form-control input-sm" data-ng-model="vm.macrovariableEstimate.Seq" style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Optimistic Estimate</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="number" class="form-control input-sm" data-ng-model="vm.macrovariableEstimate.Optimistic" style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Best Estimate</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="number" class="form-control input-sm" data-ng-model="vm.macrovariableEstimate.Best" style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Downturn Estimate</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="number" class="form-control input-sm" data-ng-model="vm.macrovariableEstimate.Downturn" style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Date</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="date" class="form-control input-sm" data-ng-model="vm.macrovariableEstimate.Date" style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>

                                                <div class="form-group mbn">
                                                    <label class="col-sm-3 control-label"></label>
                                                    <div class="col-sm-9 controls">
                                                        <button type="button" class="btn btn-success btn-xs" ng-click="vm.save()">
                                                            <i class="fa fa-save"></i>&nbsp;
                                                            Save
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-xs" data-ng-click="vm.delete()">Delete</button>
                                                        <button type="button" class="btn btn-default btn-xs" data-ng-click="vm.cancel()">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            

        </div>
    </div>
</div>

   