

<div class="main-content">
    <div class="widget widget-table">

        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>

        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form>

                        <label for="" class="control-label">Main Search: </label>
                        <input type="text" class="input-sm" placeholder="Enter Reference Number or Account Number" ng-model="vm.searchParam " style="width:300px" />
                        <button type="button" class="btn btn-default btn-sm" ng-click="vm.loadMarginalPdObeDistrBySearch()">Load</button>
                        <button type="button" class="btn btn-info btn-sm" ng-click="vm.refresh()">Refresh</button>
                        <!--<a href="Home/LoadExcelrevenue" target="_blank">Export</a>-->
                    </form>
                </div>
            </div>
            <!--<div>
        <button type="button" ng-csv="vm.marginalPDObeDistrTable" filename="LoanPryExport.csv">Full Export</button>
    </div>
    <br />-->

            <table id="marginalPDObeDistrTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th> AccountNo  </th>
                        <th> Refno  </th>
                        <th> Producttype  </th>
                        <th> SubType  </th>
                        <th> OriginYear  </th>
                        <th> Currency  </th>
                        <th> Rate  </th>
                        <th> DatePMT  </th>
                        <th> TenorInDays  </th>
                        <th> AmortizedCost  </th>
                        <th> Stage  </th>
                        <th> EIR  </th>
                        <th> DiscountFactor  </th>
                        <th> Scenerio  </th>
                        <th> MarginalPD  </th>
                        <th> Rundate  </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="marginalPDObeDistrs in vm.marginalPDObeDistr">

                        <td>{{ marginalPDObeDistrs.AccountNo  }}</td>
                        <td>{{ marginalPDObeDistrs.Refno  }}</td>
                        <td>{{ marginalPDObeDistrs.Producttype  }}</td>
                        <td>{{ marginalPDObeDistrs.subType  }}</td>
                        <td>{{ marginalPDObeDistrs.OriginYear  }}</td>
                        <td>{{ marginalPDObeDistrs.Currency  }}</td>
                        <td>{{ marginalPDObeDistrs.ExchangeRate  }}</td>
                        <td>{{ marginalPDObeDistrs.date_pmt  }}</td>
                        <td>{{ marginalPDObeDistrs.TenorInDays  }}</td>
                        <td>{{ marginalPDObeDistrs.AmortizedCost | number }}</td>
                        <td>{{ marginalPDObeDistrs.Stage  }}</td>
                        <td>{{ marginalPDObeDistrs.EIR  }}</td>
                        <td>{{ marginalPDObeDistrs.DiscountFactor  }}</td>
                        <td>{{ marginalPDObeDistrs.Scenerio  }}</td>
                        <td>{{ marginalPDObeDistrs.MarginalPD  }}</td>
                        <td>{{ marginalPDObeDistrs.Rundate  }}</td>

                    </tr>
                </tbody>
            </table>

        </div>



    </div>
</div>
