

<div class="main-content">
    <div class="widget widget-table">

        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>

        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form>

                        <label for="" class="control-label">Main Search: </label>
                        <input type="text" class="input-sm" placeholder="Enter Reference Number or Account Number" ng-model="vm.searchParam " style="width:300px" />
                        <button type="button" class="btn btn-default btn-sm" ng-click="vm.loadOdLGDComputationBySearch()">Load</button>
                        <button type="button" class="btn btn-info btn-sm" ng-click="vm.refresh()">Refresh</button>
                        <div type="button" class="btn btn-success btn-sm" ng-click="vm.exportAllData()">Export</div>

                    </form>
                </div>
            </div>

            <table id="odlgdTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>CustID</th>
                        <th>AccountNo</th>
                        <th>HC1</th>
                        <th>HC2</th>
                        <th>CustomerName</th>
                        <th>Currency</th>
                        <th>Rate</th>
                        <th>Date</th>
                        <th>MaturityDate</th>
                        <th>EAD_FCY</th>
                        <th>EAD_LCY</th>
                        <th>EIR</th>
                        <th>Stage</th>
                        <th>TotalColRecAmt</th>
                        <th>RecoveryRate</th>
                        <th>UnsecuredRecovery</th>
                        <th>TotalRecoverableAmt</th>
                        <th>LGD</th>
                        <!--<th style="width: 3%;">Action</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="odlgdcompt in vm.odlgdComptResult">
                        <td>{{ odlgdcompt.AccountNo}}</td>
                        <td>{{ odlgdcompt.Refno}}</td>
                        <td>{{ odlgdcompt.Producttype	}}</td>
                        <td>{{ odlgdcompt.SubType	}}</td>
                        <td>{{ odlgdcompt.CustomerName}}</td>
                        <td>{{ odlgdcompt.Currency}}</td>
                        <td>{{ odlgdcompt.ExchangeRate}}</td>
                        <td>{{ odlgdcompt.date_pmt | date}}</td>
                        <td>{{ odlgdcompt.MaturityDate | date}}</td>
                        <td>{{ odlgdcompt.AmortizedCost_FCY | number}}</td>
                        <td>{{ odlgdcompt.AmortizedCost_LCY | number}}</td>
                        <td>{{ odlgdcompt.EIR	}}</td>
                        <td>{{ odlgdcompt.Stage}}</td>
                        <td>{{ odlgdcompt.TotalColRecAmt | number}}</td>
                        <td>{{ odlgdcompt.RecoveryRate}}</td>
                        <td>{{ odlgdcompt.UNSecuredRecovery	| number}}</td>
                        <td>{{ odlgdcompt.TotalRecoverableAmt	| number}}</td>
                        <td>{{ odlgdcompt.LGD}}</td>
                    </tr>


                </tbody>
            </table>

        </div>



    </div>
</div>
