<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#general" role="tab" data-toggle="tab"><i class="fa fa-home"></i> General</a></li>
                    </ul>

                    <div id="general" class="tab-content">
                        <div id="tab-edit" class="tab-pane fade in active">
                            <div class="row">
                                <div data-ng-include="'app/common/views/validation-view.html'"></div>

                               
                                    <div class="tab-content">
                                        <form action="#" class="form-horizontal">
                                            <div class="form-body">

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Month1</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="number" class="form-control input-sm" data-ng-model="vm.plBudget.Mth1" style="width:150px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Month2</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="number" class="form-control input-sm" data-ng-model="vm.plBudget.Mth2" style="width:150px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Month3</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="number" class="form-control input-sm" data-ng-model="vm.plBudget.Mth3" style="width:150px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Month4</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="number" class="form-control input-sm" data-ng-model="vm.plBudget.Mth4" style="width:150px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Month5</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="number" class="form-control input-sm" data-ng-model="vm.plBudget.Mth5" style="width:150px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Month6</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="number" class="form-control input-sm" data-ng-model="vm.plBudget.Mth6" style="width:150px;background-color:lightblue" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Month7</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="number" class="form-control input-sm" data-ng-model="vm.plBudget.Mth7" style="width:150px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Month8</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="number" class="form-control input-sm" data-ng-model="vm.plBudget.Mth8" style="width:150px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Month9</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="number" class="form-control input-sm" data-ng-model="vm.plBudget.Mth9" style="width:150px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Month10</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="number" class="form-control input-sm" data-ng-model="vm.plBudget.Mth10" style="width:150px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Month11</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="number" class="form-control input-sm" data-ng-model="vm.plBudget.Mth11" style="width:150px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Month12</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="number" class="form-control input-sm" data-ng-model="vm.plBudget.Mth12" style="width:150px;background-color:lightblue" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form-group mbn">
                                                        <label class="col-sm-3 control-label"></label>
                                                        <div class="col-sm-9 controls">
                                                            <button type="button" class="btn btn-success btn-xs" ng-click="vm.save()">
                                                                <i class="fa fa-save"></i>&nbsp;
                                                                Save
                                                            </button>
                                                            <button type="button" class="btn btn-danger btn-xs" data-ng-click="vm.delete()">Delete</button>
                                                            <button type="button" class="btn btn-default btn-xs" data-ng-click="vm.cancel()">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            

        </div>
    </div>
</div>

   