

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div>
                <a class="btn btn-info btn-xs" data-ui-sref="mpr-plcaption-edit({plcaptionId:0})"> Create New</a>
            </div> 
            <br />
            
            <table id="plCaptionTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>AccountType</th>
                        <th>Module Owner</th>
                        <th>Color</th>
                        <th>Position</th>  
                        <th>Parent</th>                    
                        <!--<th>CompanyCode</th>-->
                       
                        <th style="width: 3%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="plCaption in vm.plCaptions">
                        <td>
                            {{ plCaption.Code}}
                        </td>
                        <td>
                            {{ plCaption.Name}}
                        </td>
                        <td>
                            {{ plCaption.AccountTypeName}}
                        </td>
                        <td>
                            {{ plCaption.ModuleName}}
                        </td>
                        <td style="background-color:{{plCaption.Color}}">
                            {{ plCaption.Color}}
                        </td>
                        <td>
                            {{ plCaption.Position}}
                        </td>
                        <td>
                            {{ plCaption.ParentName}}
                        </td>
                        <!--<td>
                            {{ plCaption.CompanyCode}}
                        </td>-->
                      
                      
                        <td>
                            <a class="btn btn-orange btn-xs" data-ui-sref="mpr-plcaption-edit({plcaptionId: plCaption.PLCaptionId})">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
