<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

	<configSections>

		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<connectionStrings>
		<!--<add name="FintrakCoreDBConnection" connectionString="Data Source=pi360devserver\FINTRAKSQL2014;Initial Catalog=FintrakCoreDB;User =sa;Password=sqluser10$;Integrated Security=False" providerName="System.Data.SqlClient" />
    <add name="FintrakLogDBConnection" connectionString="Data Source=pi360devserver\FINTRAKSQL2014;Initial Catalog=FintrakLogDB;User =sa;Password=sqluser10$;Integrated Security=False" providerName="System.Data.SqlClient" />-->

		<!--<add name="FintrakCoreDBConnection" connectionString="Data Source=.\FINTRAKSQL2016;Initial Catalog=FinTrakCoreDB;User =sa;Password=sqluser10$;Integrated Security=False" providerName="System.Data.SqlClient" />
    <add name="FintrakLogDBConnection" connectionString="Data Source=.\FINTRAKSQL2016;Initial Catalog=FintrakLogDB;User =sa;Password=sqluser10$;Integrated Security=False" providerName="System.Data.SqlClient" />-->
		<!--<add name="FintrakCoreDBConnection" connectionString="server=localhost;port=3306;user id=root;database=fintrakcoredbhmb;password=sqluser10$;charset=utf8;Persist Security Info=True;AutoEnlist=false;logging=true;Convert Zero Datetime=True;Allow Zero Datetime=True; Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />
		<remove name="FintrakLogDBConnection" />
		<add name="FintrakLogDBConnection" connectionString="server=localhost;port=3306;user id=root;database=fintraklogdb;password=sqluser10$;charset=utf8;Persist Security Info=True;AutoEnlist=false;logging=true;Convert Zero Datetime=True;Allow Zero Datetime=True; Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />-->
		<add name="FintrakCoreDBConnection" connectionString="server=fintrakcoredb.mysql.database.azure.com;port=3306;user id=fintrakcoredb@fintrakcoredb;database=fintrakcoredb;password=P@ssword10$;charset=utf8;Persist Security Info=True;AutoEnlist=false; Allow User Variables=True;" providerName="MySqlConnector" />
		<remove name="FintrakLogDBConnection" />
		<add name="FintrakLogDBConnection" connectionString="server=fintrakcoredb.mysql.database.azure.com;port=3306;user id=fintrakcoredb@fintrakcoredb;database=fintraklogdb;password=P@ssword10$;charset=utf8;Persist Security Info=True;AutoEnlist=false; Allow User Variables=True;" providerName="MySqlConnector" />

	</connectionStrings>

	<system.web>
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.5" executionTimeout="1000" />

		<pages>
			<namespaces>
				<add namespace="System.Web.Optimization" />
				<add namespace="Microsoft.AspNet.Identity" />
			</namespaces>
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
			</controls>
		</pages>
		<membership defaultProvider="MySqlSimpleMembershipProvider">
			<providers>
				<!--
	      ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
				<clear />
			</providers>
		</membership>
		<profile>
			<providers>
				<!--
	      ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
				<clear />
			</providers>
		</profile>
		<roleManager>
			<!--
	        ASP.NET Membership Role is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
			<providers>
				<clear />
			</providers>
		</roleManager>
		<!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
		<sessionState mode="InProc" customProvider="DefaultSessionProvider">
			<providers>
				<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
			</providers>
		</sessionState>
	</system.web>

	<system.webServer>
		<modules>
			<remove name="FormsAuthentication" />
			<remove name="RoleManager" />
		</modules>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.9.12.0" newVersion="6.9.12.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<entityFramework>
		<!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">-->
		<defaultConnectionFactory type="MySql.Data.Entity.MySqlConnectionFactory, MySql.Data.Entity.EF6">
			<!--<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>-->
		</defaultConnectionFactory>
		<providers>
			<!--<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />-->
			<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
		</providers>
	</entityFramework>

	<system.serviceModel>
		<services>
			<!--Core Solution-->
			<service name="Fintrak.Business.SystemCore.Managers.CoreManager">
				<endpoint address="" binding="basicHttpBinding" contract="Fintrak.Business.SystemCore.Contracts.ICoreService" />
			</service>

			<service name="Fintrak.Business.Core.Managers.CoreManager">
				<endpoint address="" binding="basicHttpBinding" contract="Fintrak.Business.Core.Contracts.ICoreService" />
			</service>
			<service name="Fintrak.Business.Core.Managers.ExtractionProcessManager">
				<endpoint address="" binding="basicHttpBinding" contract="Fintrak.Business.Core.Contracts.IExtractionProcessService" />
			</service>

			<!--IFRS Solution-->
			<service name="Fintrak.Business.IFRS.Managers.IFRSCoreManager">
				<endpoint address="" binding="basicHttpBinding" contract="Fintrak.Business.IFRS.Contracts.IIFRSCoreService" />
			</service>
			<service name="Fintrak.Business.IFRS.Managers.IFRSLoanManager">
				<endpoint address="" binding="basicHttpBinding" contract="Fintrak.Business.IFRS.Contracts.IIFRSLoanService" />
			</service>
			<service name="Fintrak.Business.IFRS.Managers.FinstatManager">
				<endpoint address="" binding="basicHttpBinding" contract="Fintrak.Business.IFRS.Contracts.IFinstatService" />
			</service>
			<service name="Fintrak.Business.IFRS.Managers.FinancialInstrumentManager">
				<endpoint address="" binding="basicHttpBinding" contract="Fintrak.Business.IFRS.Contracts.IFinancialInstrumentService" />
			</service>
			<service name="Fintrak.Business.IFRS.Managers.IFRSDataViewManager">
				<endpoint address="" binding="basicHttpBinding" contract="Fintrak.Business.IFRS.Contracts.IIFRSDataViewService" />
			</service>
			<service name="Fintrak.Business.IFRS.Managers.ExtractedDataManager">
				<endpoint address="" binding="basicHttpBinding" contract="Fintrak.Business.IFRS.Contracts.IExtractedDataService" />
			</service>
			<service name="Fintrak.Business.IFRS.Managers.IFRS9Manager">
				<endpoint address="" binding="basicHttpBinding" contract="Fintrak.Business.IFRS.Contracts.IIFRS9Service" />
			</service>
			<!--<service name="Fintrak.Business.Basic.Managers.IFRSLoanManager">-->
			<!--<endpoint address="" binding="basicHttpBinding" contract="Fintrak.Business.Basic.Contracts.IIFRSLoanService" />-->
			<!--</service>-->

			<!--MPR Solution-->
			<service name="Fintrak.Business.MPR.Managers.MPRCoreManager">
				<endpoint address="" binding="basicHttpBinding" contract="Fintrak.Business.MPR.Contracts.IMPRCoreService" />
			</service>
			<service name="Fintrak.Business.MPR.Managers.MPRBSManager">
				<endpoint address="" binding="basicHttpBinding" contract="Fintrak.Business.MPR.Contracts.IMPRBSService" />
			</service>
			<service name="Fintrak.Business.MPR.Managers.MPRPLManager">
				<endpoint address="" binding="basicHttpBinding" contract="Fintrak.Business.MPR.Contracts.IMPRPLService" />
			</service>

			<!--Budget Solution-->
			<service name="Fintrak.Business.Budget.Managers.CoreManager">
				<endpoint address="" binding="basicHttpBinding" contract="Fintrak.Business.Budget.Contracts.ICoreService" />
			</service>

			<service name="Fintrak.Business.Budget.Managers.TeamManager">
				<endpoint address="" binding="basicHttpBinding" contract="Fintrak.Business.Budget.Contracts.ITeamService" />
			</service>

			<!--CDQM Solution-->
			<service name="Fintrak.Business.CDQM.Managers.CDQMManager">
				<endpoint address="" binding="basicHttpBinding" contract="Fintrak.Business.CDQM.Contracts.ICDQMService" />
			</service>

			<!--Scorecard Solution-->
			<service name="Fintrak.Business.Scorecard.Managers.ScorecardManager">
				<endpoint address="" binding="basicHttpBinding" contract="Fintrak.Business.Scorecard.Contracts.IScorecardService" />
			</service>

		</services>
		<bindings>
			<netTcpBinding>
				<binding maxReceivedMessageSize="2000000000" transactionFlow="true">
					<reliableSession enabled="true" />
				</binding>
			</netTcpBinding>
			<basicHttpBinding>
				<binding openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00" maxReceivedMessageSize="2000000000">
				</binding>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!--<dataContractSerializer maxItemsInObjectGraph="6553500"/>-->
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="1">
			<serviceActivations>
				<!--Core Solution-->
				<add service="Fintrak.Business.SystemCore.Managers.CoreManager" relativeAddress="SystemCoreService.svc" />
				<add service="Fintrak.Business.Core.Managers.CoreManager" relativeAddress="CoreService.svc" />
				<add service="Fintrak.Business.Core.Managers.ExtractionProcessManager" relativeAddress="ExtractionProcessService.svc" />

				<!--IFRS Solution-->
				<add service="Fintrak.Business.IFRS.Managers.IFRSCoreManager" relativeAddress="IFRSCoreService.svc" />
				<add service="Fintrak.Business.IFRS.Managers.IFRSLoanManager" relativeAddress="IFRSLoanService.svc" />
				<add service="Fintrak.Business.IFRS.Managers.FinancialInstrumentManager" relativeAddress="FinancialInstrumentService.svc" />
				<add service="Fintrak.Business.IFRS.Managers.IFRSDataViewManager" relativeAddress="IFRSDataViewService.svc" />
				<add service="Fintrak.Business.IFRS.Managers.FinstatManager" relativeAddress="FinstatService.svc" />
				<add service="Fintrak.Business.IFRS.Managers.ExtractedDataManager" relativeAddress="IExtractedDataService.svc" />
				<add service="Fintrak.Business.IFRS.Managers.IFRS9Manager" relativeAddress="IFRS9Service.svc" />

				<!--MPR Solution-->
				<add service="Fintrak.Business.MPR.Managers.MPRCoreManager" relativeAddress="MPRCoreService.svc" />
				<add service="Fintrak.Business.MPR.Managers.MPRBSManager" relativeAddress="MPRBSService.svc" />
				<add service="Fintrak.Business.MPR.Managers.MPRPLManager" relativeAddress="MPRPLService.svc" />
				<add service="Fintrak.Business.MPR.Managers.MPROPEXManager" relativeAddress="MPROPEXService.svc" />

				<!--Budget Solution-->
				<add service="Fintrak.Business.Budget.Managers.CoreManager" relativeAddress="BudgetCoreService.svc" />
				<add service="Fintrak.Business.Budget.Managers.TeamManager" relativeAddress="BudgetTeamService.svc" />

				<!--CDQM Solution-->
				<add service="Fintrak.Business.CDQM.Managers.CDQMManager" relativeAddress="CDQMService.svc" />

				<!--Scorecard Solution-->
				<add service="Fintrak.Business.Scorecard.Managers.ScorecardManager" relativeAddress="ScorecardService.svc" />
			</serviceActivations>
		</serviceHostingEnvironment>
		<!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="1" />-->
	</system.serviceModel>

	<system.transactions>
		<defaultSettings timeout="00:30:00" />
	</system.transactions>

	<system.data>
		<DbProviderFactories>
			<!--<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />-->
		   <add name="MySqlConnector" invariant="MySqlConnector" description="MySQL Connector for .NET" type="MySqlConnector.MySqlConnectorFactory, MySqlConnector, Culture=neutral, PublicKeyToken=d33d3e53aa5f8c92" />
		</DbProviderFactories>
	</system.data>
</configuration>