

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>
            <br />
            
            <table id="bondSummaryTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>RefNo</th>
                        <th>Value Date</th>
                        <th>Face Value</th>
                        <th>Quantity Traded</th>
                        <th>Maturity Date</th>
                        <th>Consideration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bondSummary in vm.bondSummarys">
                        <td>
                            {{bondSummary.Refno}}
                        </td>
                        <td>
                            {{bondSummary.Valuedate | date}}
                        </td>
                        <td>
                            {{bondSummary.Facevalue | currency:''}}
                        </td>
                        <td>
                            {{bondSummary.QtyTraded | currency:''}}
                        </td>
                        <td>
                            {{bondSummary.MaturityDate | date}}
                        </td>
                        <td>
                            {{bondSummary.Consideration | currency:''}}
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
