
@{
    ViewBag.Title = "ReportPage";
    Layout = "~/Views/Shared/_ReportLayoutPage.cshtml";
    ViewBag.ModuleName = "";
    ViewBag.PageTitle = "";
}

@*<div class="page-content">

    <h2>ReportPage</h2>
</div>*@
<span us-spinner="{radius:30, width:8, length: 16}" spinner-theme="smallRed"></span>
<div data-ui-view="" class="page-content"></div>


