<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#general" role="tab" data-toggle="tab"><i class="fa fa-home"></i> General</a></li>
                    </ul>

                    <div id="general" class="tab-content">
                        <div id="tab-edit" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="tab-content">
                                        <form action="#" class="form-horizontal">
                                            <div class="form-body">

                                                <div data-ng-include="'app/common/views/validation-view.html'"></div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Code</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.company.Code" style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Name</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.company.Name" style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Email</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="email" class="form-control input-sm" data-ng-model="vm.company.Email" style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>

                                                <div class="form-group mbn">
                                                    <label class="col-sm-3 control-label"></label>
                                                    <div class="col-sm-9 controls">
                                                        <button type="button" class="btn btn-success btn-xs" ng-click="vm.save()">
                                                            <i class="fa fa-save"></i>&nbsp;
                                                            Save
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-xs" data-ng-click="vm.delete()">Delete</button>
                                                        <button type="button" class="btn btn-default btn-xs" data-ng-click="vm.cancel()">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" data-ng-show="vm.showChildren">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#periods" role="tab" data-toggle="tab"><i class="fa fa-home"></i> Branches</a></li>
                    </ul>

                    <div id="periods" class="tab-content">
                        <div id="tab-edit" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-content">
                                        <div class="portlet box">
                                            <div class="portlet-header">
                                                <div class="caption">
                                                    <!--<button class="btn btn-success" ng-click="vm.createCountry()"> Create</button>-->
                                                    <a class="btn btn-info btn-xs" data-ui-sref="core-branch-edit({companyId: vm.company.CompanyId, branchId: 0})">Create</a>
                                                </div>

                                                <br />

                                            </div>
                                            <div class="portlet-body">
                                                <div class="row mbm">
                                                    <div class="col-lg-12">
                                                        <div class="table-responsive">


                                                            <table id="branchTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                                                                <thead>
                                                                    <tr>

                                                                        <th>Code</th>
                                                                        <th>Name</th>
                                                                        <th>Address</th>

                                                                        <th style="width: 3%;">Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="branch in vm.branches">

                                                                        <td>
                                                                            {{ branch.Code}}
                                                                        </td>
                                                                        <td>
                                                                            {{ branch.Name}}
                                                                        </td>
                                                                        <td>
                                                                            {{ branch.Address}}
                                                                        </td>
                                                                     
                                                                        <td>
                                                                            <a class="btn btn-orange btn-xs" data-ui-sref="core-branch-edit({companyId: branch.CompanyId, branchId: branch.BranchId})">
                                                                                Edit
                                                                            </a>


                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

   