

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>


            <div class="row">
                <div class="col-md-10">
                    <form>
                        <!--<div>
                            <a class="btn btn-info btn-xs" data-ui-sref="core-elmaherrorlog-edit({Sequence: 0})"> Create New</a>
                        </div>-->
                        <label for="" class="control-label">Main Search: </label>
                        <input type="text" class="input-sm" placeholder="Input a value to search" ng-model="vm.searchParam" style="width:300px" />
                        <button type="button" class="btn btn-default btn-sm" ng-click="vm.loadelmaherrorlogBySearch()">Load</button>
                        <button type="button" class="btn btn-info btn-sm" ng-click="vm.exportAllData()">Export All</button>
                        <!--<label for="" class="control-label">Reporting Date:</label>-->
                        <!--<input type="date" ng-model="vm.endDate" class="input-sm" style="width:200px" />-->
                        <!--<input type="text" ng-model="vm.endDate" class="input-sm" data-datepicker-popup="dd/MM/yyyy" data-is-open="vm.openedEndDate" style="width:100px;" />
                        <button type="button" class="btn btn-default btn-sm" ng-click="vm.openEndDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>-->
                        <!-- <input  type="text" ng-model="vm.processDate" class="form-control input-sm" data-datepicker-popup="dd/MM/yyyy" style="width:200px;background-color:lightblue" />-->
                        <!--<button type="button" class="btn btn-info btn-sm" ng-click="vm.storeAmortizationOutputProcess()">Load for Selected Date</button>-->


                        <button type="button" class="btn btn-info btn-sm" ng-click="vm.refresh()">Refresh</button>
                    </form>
                </div>

            </div>


            <br />
            
            <table id="elmaherrorlogsTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <!--<th>Action</th>-->
                        <th>Error Code</th>
                        <th>Type</th>
                        <th>Error Description</th>
                        <th>Source</th>
                        <th>User</th>
                        <th>Date/Time</th>
                        <th>IP Address</th>
                        <th>Device</th>
                        <th>Manufacturer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="elmaherrorlog in vm.elmaherrorlogs">
                        <!--<td>
                            <a class="btn btn-orange btn-xs" data-ng-click="vm.delete(elmaherrorlog.Sequence)">
                                Resolved
                            </a>
                        </td>-->
                        <td>{{ elmaherrorlog.StatusCode }}</td>
                        <td>{{ elmaherrorlog.Type }}</td>
                        <td>{{ elmaherrorlog.Message }}</td>
                        <td>{{ elmaherrorlog.Source }}</td>
                        <td>{{ elmaherrorlog.User }}</td>
                        <td>{{ elmaherrorlog.TimeUtc | date:'medium' }}</td>
                        <td>{{ elmaherrorlog.VisitorsIPAddress }}</td>
                        <td>{{ elmaherrorlog.Host }}</td>
                        <td>{{ elmaherrorlog.Manufacturer }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
