@{
    ViewBag.Title = "About";
}


<!-- page content wrapper -->
<div class="page-content-wrap bg-light">
    <!-- page content holder -->
    <div class="page-content-holder no-padding">
        <!-- page title -->
        <div class="page-title">
            <h1>About Us</h1>
            <!-- breadcrumbs -->
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li class="active">About Us</li>
            </ul>
            <!-- ./breadcrumbs -->
        </div>
        <!-- ./page title -->
    </div>
    <!-- ./page content holder -->
</div>
<!-- ./page content wrapper -->
<!-- page content wrapper -->
<div class="page-content-wrap">
    <!-- page content holder -->
    <div class="page-content-holder">

        <div class="block-heading block-heading-centralized this-animate" data-animate="fadeInDown">
            <h2 class="heading-underline">Fintrak Software</h2>
            <div class="block-heading-text">
                FinTrak Software is a global ICT organization providing technology and business solutions to mainly commercial banks, mortgage banks and other financial institutions across Africa.
            </div>
        </div>

    </div>
    <!-- ./page content holder -->
</div>
<!-- ./page content wrapper -->
<!-- page content wrapper -->
<div class="page-content-wrap">

    <div class="divider"><div class="box"><span class="fa fa-angle-down"></span></div></div>

    <!-- page content holder -->
    <div class="page-content-holder">

        <div class="block-heading block-heading-centralized this-animate" data-animate="fadeInDown">
            <h2 class="heading-underline">Management Team</h2>
            <div class="block-heading-text">
               
            </div>
        </div>

        <div class="row">

            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="text-column text-column-centralized this-animate" data-animate="fadeIn">
                    <div class="text-column-image">
                        <img src="~/content/assets/img/users/no-image.jpg" alt="John Doe" class="img-circle">
                    </div>
                    <h5>Bimbo Abioye, CEO</h5>
                    <div class="text-column-subtitle">Managing Partner</div>
                    <div class="text-column-info">
                        Founder and chief visionary, He is the driving force behind Fintrak Software.
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="text-column text-column-centralized this-animate" data-animate="fadeIn">
                    <div class="text-column-image">
                        <img src="~/content/assets/img/users/no-image.jpg" alt="Dmitry Ivaniuk" class="img-circle">
                    </div>
                    <h5>Steve Ongharaka</h5>
                    <div class="text-column-subtitle">Executive Director</div>
                    <div class="text-column-info">
                       
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="text-column text-column-centralized this-animate" data-animate="fadeIn">
                    <div class="text-column-image">
                        <img src="~/content/assets/img/users/no-image.jpg" alt="Nadia Ali" class="img-circle">
                    </div>
                    <h5>Ladi Ipaye</h5>
                    <div class="text-column-subtitle">Executive Director</div>
                    <div class="text-column-info">
                       
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="text-column text-column-centralized this-animate" data-animate="fadeIn">
                    <div class="text-column-image">
                        <img src="~/content/assets/img/users/no-image.jpg" alt="Brad Pitt" class="img-circle">
                    </div>
                    <h5>Raleke Obiora</h5>
                    <div class="text-column-subtitle"></div>
                    <div class="text-column-info">
                       
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- ./page content holder -->
</div>
<!-- ./page content wrapper -->
<!-- page content wrapper -->
<div class="page-content-wrap bg-light">

    <div class="divider"><div class="box"><span class="fa fa-angle-down"></span></div></div>

    <!-- page content holder -->
    <div class="page-content-holder">

        <div class="row">

            <div class="col-md-4">
                <div class="text-column text-column-centralized this-animate" data-animate="fadeInLeft">
                    <div class="text-column-icon">
                        <span class="fa fa-star"></span>
                    </div>
                    <h4>Company Mission</h4>
                    <div class="text-column-info">
                        Our core mission is to support businesses with technologies and intellectual strength required to enable them surpass their stakeholders' expectations, through strategic alliances.
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="text-column text-column-centralized this-animate" data-animate="fadeInUp">
                    <div class="text-column-icon">
                        <span class="fa fa-hand-o-up"></span>
                    </div>
                    <h4>Our Vision</h4>
                    <div class="text-column-info">
                        Our Vision is to be the number one Enterprise Solution provider in the world; a one-stop shop for software solutions.
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="text-column text-column-centralized this-animate" data-animate="fadeInRight">
                    <div class="text-column-icon">
                        <span class="fa fa-clock-o"></span>
                    </div>
                    <h4>What makes PI360 different?</h4>
                    <div class="text-column-info">
                        A smooth and friendly user experience that has been built to ensure the user seamless adoption.

                        Flexibility and full integration cover the needs of complex companies. The flexibility of PI360 is such that modules can be added according to the growth of your company. One module at a time.

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- ./page content holder -->
</div>
<!-- ./page content wrapper -->
