@{
    ViewBag.Title = "Home";
}


 <!-- revolution slider -->
<div class="banner-container">
    <div class="banner">
        <ul>

            <li data-transition="fade" data-slotamount="1" data-masterspeed="500" data-saveperformance="on">
                <img src="~/content/img/backgrounds/bg-2.jpg" />

                <div class="tp-caption lft customout rs-parallaxlevel-0"
                     data-x="150"
                     data-y="80"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="700"
                     data-easing="Power3.easeInOut"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     style="z-index: 2;">
                    <img src="~/content/assets/slider-layers/atlant-title.png" alt="PI360" />
                </div>


                <div class="tp-caption lft customout rs-parallaxlevel-0"
                     data-x="550"
                     data-y="230"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="700"
                     data-start="1200"
                     data-easing="Power3.easeInOut"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     style="z-index: 3;">
                    <img src="~/content/assets/slider-layers/atlant_monitor.png" alt="PI360" />
                </div>

                <div class="tp-caption black_thin_34 customin tp-resizeme rs-parallaxlevel-0"
                     data-x="0"
                     data-y="230"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-speed="500"
                     data-start="1000"
                     data-easing="Back.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     style="z-index: 4;">
                    <img src="~/content/assets/slider-layers/atlant_responsive.png" alt="PI360" />
                </div>

                <div class="tp-caption black_thin_34 customin tp-resizeme rs-parallaxlevel-0"
                     data-x="0"
                     data-y="330"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-speed="500"
                     data-start="1100"
                     data-easing="Back.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     style="z-index: 5;">
                    <img src="~/content/assets/slider-layers/atlant_tempalte.png" alt="PI360" />
                </div>

            </li>

            <li data-transition="fade" data-slotamount="1" data-masterspeed="700">
                <img src="~/content/assets/video/video_typing_cover.jpg" alt="video_typing_cover" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

                <div class="tp-caption tp-fade fadeout fullscreenvideo"
                     data-x="0"
                     data-y="0"
                     data-speed="1000"
                     data-start="1100"
                     data-easing="Power4.easeOut"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="1500"
                     data-endeasing="Power4.easeIn"
                     data-autoplay="true"
                     data-autoplayonlyfirsttime="false"
                     data-nextslideatend="true"
                     data-volume="mute" data-forcecover="1" data-aspectratio="16:9" data-forcerewind="on" style="z-index: 2;">
                    <video class="" preload="none" width="100%" height="100%" poster="~/content/assets/video/video_typing_cover.jpg">
                        <source src='~/content/assets/video/computer_typing.mp4' type='video/mp4' />
                        <source src='~/content/assets/video/computer_typing.webm' type='video/webm' />
                    </video>
                </div>

                <div class="tp-caption customin ltl"
                     data-x="600"
                     data-y="280"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-speed="500"
                     data-start="1500"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn"
                     style="z-index: 3;">
                    <img src="~/content/assets/slider-layers/second_1.png" />
                </div>

                <div class="tp-caption customin ltl"
                     data-x="600"
                     data-y="320"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-speed="500"
                     data-start="1700"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn"
                     style="z-index: 3;">
                    <img src="~/content/assets/slider-layers/second_2.png" />
                </div>

                <div class="tp-caption customin ltl"
                     data-x="600"
                     data-y="362"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-speed="500"
                     data-start="1900"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn"
                     style="z-index: 3;">
                    <img src="~/content/assets/slider-layers/second_3.png" />
                </div>

                <div class="tp-caption customin ltl"
                     data-x="600"
                     data-y="404"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-speed="500"
                     data-start="2100"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn"
                     style="z-index: 3;">
                    <img src="~/content/assets/slider-layers/second_4.png" />
                </div>

                <div class="tp-caption customin ltl"
                     data-x="600"
                     data-y="446"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-speed="500"
                     data-start="2200"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn"
                     style="z-index: 3;">
                    <img src="~/content/assets/slider-layers/second_5.png" />
                </div>

                <div class="tp-caption customin ltl"
                     data-x="600"
                     data-y="488"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-speed="500"
                     data-start="2400"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn"
                     style="z-index: 3;">
                    <img src="~/content/assets/slider-layers/second_6.png" />
                </div>

            </li>
        </ul>

    </div>
</div>
<!-- ./revolution slider -->
<!-- page content wrapper -->
<div class="page-content-wrap bg-light">
    <!-- page content holder -->
    <div class="page-content-holder padding-v-20">

        <div class="text-center">
            <a href="http://173.1.42.180/ClientPortal" class="btn btn-primary btn-xl"><span class="fa fa-eye"></span> Launch PI360</a> 
            <a href="@Url.Action("Registration","Home")" class="btn btn-success btn-xl"><span class="fa fa-shopping-cart"></span> Register</a>
        </div>

    </div>
    <!-- ./page content holder -->
</div>
<!-- ./page content wrapper -->
<!-- page content wrapper -->
<div class="page-content-wrap bg-img-1">
    <div class="divider"><div class="box"><span class="fa fa-angle-down"></span></div></div>

    <!-- page content holder -->
    <div class="page-content-holder">

        <div class="row">
            <div class="col-md-8 this-animate" data-animate="fadeInLeft">

                <div class="block-heading block-heading-centralized">
                    <h2 class="heading-underline">Delivers Greater Visibility into Business-critical Information</h2>
                    <div class="block-heading-text">
                        Fintrak's Performance Insight (Pi360) reduces costs by automating, centralizing, and standardizing global transactional processes. Manage risk and reduce compliance costs with end-to-end processes for governance, risk, and compliance. Make the right investments in the business with integrated performance management and business intelligence.
                    </div>
                </div>
                <div class="block this-animate" data-animate="fadeInLeft">
                    <img src="~/content/assets/atlant_technologies.png" class="img-responsive" />
                </div>
            </div>
            <div class="col-md-4 this-animate text-center" data-animate="fadeInRight">
                <img src="~/content/assets/atlant_responsive.png" class="img-responsive-mobile" />
            </div>
        </div>



    </div>
    <!-- ./page content holder -->
</div>
<!-- ./page content wrapper -->
<!-- page content wrapper -->
<div class="page-content-wrap bg-texture-1 bg-dark light-elements">

    <div class="divider"><div class="box"><span class="fa fa-angle-down"></span></div></div>

    <!-- page content holder -->
    <div class="page-content-holder">

        <div class="row">

            <div class="col-md-4">
                <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInLeft">
                    <div class="text-column-icon">
                        <span class="fa fa-support"></span>
                    </div>
                    <h4>Grow your business</h4>
                    <div class="text-column-info">
                        You'll always be on <strong>top</strong> of the latest business practices with PI360.
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInUp">
                    <div class="text-column-icon">
                        <span class="fa fa-expand"></span>
                    </div>
                    <h4>Make it yours</h4>
                    <div class="text-column-info">
                        Our team and network of partners help you make the best out of PI360.
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInRight">
                    <div class="text-column-icon">
                        <span class="fa fa-clock-o"></span>
                    </div>
                    <h4>Customize it</h4>
                    <div class="text-column-info">
                        PI360 apps can be easily customized for your <strong>unique needs</strong>.
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- ./page content holder -->
</div>
<!-- ./page content wrapper -->
<!-- page content wrapper -->
<div class="page-content-wrap bg-light bg-texture-1">

    <div class="divider"><div class="box"><span class="fa fa-angle-down"></span></div></div>

    <!-- page content holder -->
    <div class="page-content-holder">

        <div class="quote this-animate" data-animate="fadeInDown">
            <div class="row">
                <div class="col-md-9">
                    <h3><strong>PI360</strong> &mdash; Fintrak Performance Insight</h3>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary btn-block btn-lg">Launch PI360</button>
                </div>
            </div>
        </div>

    </div>
    <!-- ./page content holder -->
</div>
<!-- ./page content wrapper -->
<!-- page content wrapper -->
<div class="page-content-wrap bg-light">
    <!-- page content holder -->
    <div class="page-content-holder padding-v-20">

        <div class="text-center">
            <a href="http://173.1.42.180/ClientPortal" class="btn btn-primary btn-xl"><span class="fa fa-eye"></span> Launch PI360</a> <a href="@Url.Action("Registration","Home")" class="btn btn-success btn-xl"><span class="fa fa-shopping-cart"></span> Register</a>
        </div>

    </div>
    <!-- ./page content holder -->
</div>
<!-- ./page content wrapper -->
