@{
    ViewBag.Title = "Solutions";
}


 <!-- page content wrapper -->
<div class="page-content-wrap bg-light">
    <!-- page content holder -->
    <div class="page-content-holder no-padding">
        <!-- page title -->
        <div class="page-title">
            <h1>@ViewBag.Title</h1>
            <!-- breadcrumbs -->
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">@ViewBag.Title</a></li>
            </ul>
            <!-- ./breadcrumbs -->
        </div>
        <!-- ./page title -->
    </div>
    <!-- ./page content holder -->
</div>
<!-- ./page content wrapper -->
<!-- page content wrapper -->
<div class="page-content-wrap">
    <!-- page content holder -->
    <div class="page-content-holder">

        <div class="block-heading this-animate" data-animate="fadeIn">
            <h2>Pi360 Enterprise Financial Management Solution</h2>
            <div class="block-heading-text">
                Get the innovative, forward-thinking technology you need to compete in a dynamic and volatile environment with Infor Enterprise Financial Management solutions. These mobile, globally enabled, collaborative, and highly adaptable solutions help you accelerate growth, while keeping costs and risks under control.
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 gallery-filter">
                <div class="button-panel">
                    <button data-filter="all" class="btn btn-primary filter">All</button>
                    <button data-filter=".cat_core" class="btn btn-primary filter">Core</button>
                    <button data-filter=".cat_ifrs" class="btn btn-primary filter">IFRS</button>
                    <button data-filter=".cat_mpr" class="btn btn-primary filter">MPR</button>
                    <button data-filter=".cat_cdqm" class="btn btn-primary filter">CDQM</button>
                    <button data-filter=".cat_scorecard" class="btn btn-primary filter">Scorecard</button>
                </div>
            </div>
        </div>

        <div class="row mix-grid thumbnails">
            @*Core Solution*@
            <div class="col-md-3 col-xs-3 mix cat_core cat_all">
                <a class="thumbnail-item">
                    <img src="~/content/assets/img/gallery/system.jpg" alt="Music 2" />
                    <div class="thumbnail-info">
                        <p>Fintrak system core module</p>
                        <button class="btn btn-primary"><span class="fa fa-link"></span></button>
                        <button class="btn btn-primary"><span class="fa fa-eye"></span></button>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-xs-3 mix cat_core cat_all">
                <a class="thumbnail-item">
                    <img src="~/content/assets/img/gallery/business.jpg" alt="Music 2" />
                    <div class="thumbnail-info">
                        <p>Fintrak business core module</p>
                        <button class="btn btn-primary"><span class="fa fa-link"></span></button>
                        <button class="btn btn-primary"><span class="fa fa-eye"></span></button>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-xs-3 mix cat_core cat_all">
                <a class="thumbnail-item">
                    <img src="~/content/assets/img/gallery/extraction.jpg" alt="Music 2" />
                    <div class="thumbnail-info">
                        <p>Fintrak extraction &amp; processing module</p>
                        <button class="btn btn-primary"><span class="fa fa-link"></span></button>
                        <button class="btn btn-primary"><span class="fa fa-eye"></span></button>
                    </div>
                </a>
            </div>

            @*IFRS Solution*@
            <div class="col-md-3 col-xs-3 mix cat_ifrs cat_all">
                <a class="thumbnail-item">
                    <img src="~/content/assets/img/gallery/ifrs.jpg" alt="Nature 1" />
                    <div class="thumbnail-info">
                        <p>IFRS core module</p>
                        <button class="btn btn-primary"><span class="fa fa-link"></span></button>
                        <button class="btn btn-primary"><span class="fa fa-eye"></span></button>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-xs-3 mix cat_ifrs cat_all">
                <a class="thumbnail-item">
                    <img src="~/content/assets/img/gallery/loan.jpg" alt="Space 1" />
                    <div class="thumbnail-info">
                        <p>IFRS Loans module</p>
                        <button class="btn btn-primary"><span class="fa fa-link"></span></button>
                        <button class="btn btn-primary"><span class="fa fa-eye"></span></button>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-xs-3 mix cat_ifrs cat_all">
                <a class="thumbnail-item">
                    <img src="~/content/assets/img/gallery/fi.jpg" alt="Nature 2" />
                    <div class="thumbnail-info">
                        <p>Financial Instruments module</p>
                        <button class="btn btn-primary"><span class="fa fa-link"></span></button>
                        <button class="btn btn-primary"><span class="fa fa-eye"></span></button>
                    </div>
                </a>
            </div>
           
            <div class="col-md-3 col-xs-3 mix cat_ifrs cat_all">
                <a class="thumbnail-item">
                    <img src="~/content/assets/img/gallery/process.jpg" alt="Nature 3" />
                    <div class="thumbnail-info">
                        <p>IFRS Processed Data module</p>
                        <button class="btn btn-primary"><span class="fa fa-link"></span></button>
                        <button class="btn btn-primary"><span class="fa fa-eye"></span></button>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-xs-3 mix cat_ifrs cat_all">
                <a class="thumbnail-item">
                    <img src="~/content/assets/img/gallery/finstat.jpg" alt="Nature 4" />
                    <div class="thumbnail-info">
                        <p>Finstat module</p>
                        <button class="btn btn-primary"><span class="fa fa-link"></span></button>
                        <button class="btn btn-primary"><span class="fa fa-eye"></span></button>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-xs-3 mix cat_mpr cat_all">
                <a class="thumbnail-item">
                    <img src="~/content/assets/img/gallery/mpr.jpg" alt="Space 2" />
                    <div class="thumbnail-info">
                        <p>MPR core module</p>
                        <button class="btn btn-primary"><span class="fa fa-link"></span></button>
                        <button class="btn btn-primary"><span class="fa fa-eye"></span></button>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-xs-3 mix cat_mpr cat_all">
                <a class="thumbnail-item">
                    <img src="~/content/assets/img/gallery/bs.jpg" alt="Nature 5" />
                    <div class="thumbnail-info">
                        <p>Balance-Sheet module</p>
                        <button class="btn btn-primary"><span class="fa fa-link"></span></button>
                        <button class="btn btn-primary"><span class="fa fa-eye"></span></button>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-xs-3 mix cat_mpr cat_all">
                <a class="thumbnail-item">
                    <img src="~/content/assets/img/gallery/pl.jpg" alt="Nature 5" />
                    <div class="thumbnail-info">
                        <p>Profit &amp; Loss module</p>
                        <button class="btn btn-primary"><span class="fa fa-link"></span></button>
                        <button class="btn btn-primary"><span class="fa fa-eye"></span></button>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-xs-3 mix cat_mpr cat_all">
                <a class="thumbnail-item">
                    <img src="~/content/assets/img/gallery/opex.jpg" alt="Nature 5" />
                    <div class="thumbnail-info">
                        <p>OPEX module</p>
                        <button class="btn btn-primary"><span class="fa fa-link"></span></button>
                        <button class="btn btn-primary"><span class="fa fa-eye"></span></button>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-xs-3 mix cat_cdqm cat_all">
                <a class="thumbnail-item">
                    <img src="~/content/assets/img/gallery/cdqm.jpg" alt="Nature 5" />
                    <div class="thumbnail-info">
                        <p>Customer Data Quality Management module</p>
                        <button class="btn btn-primary"><span class="fa fa-link"></span></button>
                        <button class="btn btn-primary"><span class="fa fa-eye"></span></button>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-xs-3 mix cat_scorecard cat_all">
                <a class="thumbnail-item">
                    <img src="~/content/assets/img/gallery/card.jpg" alt="Nature 5" />
                    <div class="thumbnail-info">
                        <p>Scorecard module</p>
                        <button class="btn btn-primary"><span class="fa fa-link"></span></button>
                        <button class="btn btn-primary"><span class="fa fa-eye"></span></button>
                    </div>
                </a>
            </div>
        </div>

        <ul class="pagination pagination-sm pull-right">
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">»</a></li>
        </ul>

    </div>
    <!-- ./page content holder -->
</div>
<!-- ./page content wrapper -->
