<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
		<membership defaultProvider="MySqlSimpleMembershipProvider">
			<providers>
				<clear />
			   <add
			   name="MySqlSimpleMembershipProvider"
			   type="MySql.Web.Security.MySqlSimpleMembershipProvider,MySql.Web,Version=6.9.12.0,Culture=neutral,PublicKeyToken=c5687fc88969c44d"
			   applicationName="MySqlSimpleMembershipTest"
			   description="MySQLdefaultapplication"
			   connectionStringName="FintrakCoreDBConnection"
			   userTableName="cor_usersetup"
			   userIdColumn="UserSetupId"
			   userNameColumn="LoginID"
			   autoGenerateTables="True"/>
				<remove name="MySQLMembershipProvider" />
				<add name="MySQLMembershipProvider" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="FintrakCoreDBConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
			</providers>
		</membership>
    </system.web>
  </location>

</configuration>
