

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div>
                <a class="btn btn-info btn-xs" ng-click="vm.getRunCheckList()"> Run Expense CheckList</a>
            </div>
            <br />
            
            <table id="checkListTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>Actual</th>
                        <th>Source</th>
                        <th>Type</th>
                        <th>Caption</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="checkList in vm.checkLists">
                        <td>
                            {{ checkList.ACTUAL}}
                        </td>
                        <td>
                            {{ checkList.SOURCE}}
                        </td>
                        <td>
                            {{ checkList.type}}
                        </td>
                        <td>
                            {{ checkList.CAPTION}}
                        </td>


                        <!--<td>
            <a class="btn btn-orange btn-xs" data-ui-sref="mpr-checklist-edit({checklistId: checkList.CheckListId})">
                Edit
            </a>
        </td>-->
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
