<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#general" role="tab" data-toggle="tab"><i class="fa fa-home"></i> General</a></li>
                    </ul>

                    <div id="general" class="tab-content">
                        <div id="tab-edit" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="tab-content">
                                        <form action="#" class="form-horizontal">
                                            <div class="form-body">

                                                <div data-ng-include="'app/common/views/validation-view.html'"></div>
                                          
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Expense Basis</label>
                                                    <div class="col-sm-9 controls">
                                                        <select class="form-control" ng-model="vm.expenseMapping.BasisCode" ng-options="eb.Code as eb.Name for eb in vm.basis" style="width:250px;background-color:lightblue" ng-change="vm.onBasisChanged(vm.expenseMapping.BasisCode)"></select>
                                                    </div>
                                                </div>

                                                <div class="form-group" ng-show="vm.isSelectionNotTeam">
                                                    <label class="col-sm-3 control-label">Item</label>
                                                    <div class="col-sm-9 controls">
                                                        <select class="form-control" ng-model="vm.expenseMapping.ItemCode" ng-options="item.Code as item.Name for item in vm.items" style="width:250px;background-color:lightblue" ng-disabled="false"></select>
                                                    </div>
                                                </div>

                                                <div class="form-group" ng-hide="vm.isSelection">
                                                    <label class="col-sm-3 control-label">Item</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.expenseMapping.ItemCode" style="width:250px;background-color:lightblue" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Parent MisCode</label>
                                                    <div class="col-sm-9 controls">
                                                        <select class="form-control" ng-model="vm.expenseMapping.ParentMISCode" ng-options="team.Code as team.Name for team in vm.parentTeams" style="width:250px;background-color:lightblue" ng-disabled="false" ng-change="vm.parentTeamChanged(vm.expenseMapping.ParentMISCode,vm.expenseMapping.BasisCode)"></select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Mis Code</label>
                                                    <div class="col-sm-9 controls">
                                                        <select class="form-control" ng-model="vm.expenseMapping.MISCode" ng-options="team.Code as team.LongDescription for team in vm.teams" style="width:400px;background-color:lightblue" ng-disabled="false"></select>
                                                    </div>
                                                </div>

                                                <div class="form-group" ng-show="vm.isTeam">
                                                    <label class="col-sm-3 control-label">Weight</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.expenseMapping.Weight" style="width:250px;" />
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group mbn">
                                                    <label class="col-sm-3 control-label"></label>
                                                    <div class="col-sm-9 controls">
                                                        <button type="button" class="btn btn-success btn-xs" ng-click="vm.save()">
                                                            <i class="fa fa-save"></i>&nbsp;
                                                            Save
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-xs" data-ng-click="vm.delete()">Delete</button>
                                                        <button type="button" class="btn btn-default btn-xs" data-ng-click="vm.cancel()">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

