

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div>
                <a class="btn btn-info btn-xs" data-ui-sref="mpr-opexbasismapping-edit({opexbasismappingId:0})"> Create New</a>
            </div>
            <br />

            <table id="opexBasisMappingTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>GL Code</th>
                        <th>Description</th>
                        <th>MIS Code</th>
                        <th>Caption</th>
                        <th>LineCaption</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="opexBasisMapping in vm.opexBasisMappings">
                        <td>
                            {{ opexBasisMapping.GLCode}}
                        </td>
                        <td>
                            {{ opexBasisMapping.Description}}
                        </td>
                        <td>
                            {{ opexBasisMapping.Caption}}
                        </td>
                        <td>
                            {{ opexBasisMapping.LineCaption}}
                        </td>
                      
                        <td>
                            <a class="btn btn-orange btn-xs" data-ui-sref="mpr-opexbasismapping-edit({opexbasismappingId: opexBasisMapping.OpexBasisMappingId})">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
