

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div>
                <a class="btn btn-info btn-xs" data-ui-sref="mpr-staffcost-edit({staffcostId:0})"> Create New</a>
            </div> 
            <br />
            
            <table id="staffCostTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Level</th>
                        <th>Amount</th>
                        <th>Branch</th>
                        <th>Cost Centre</th>
                     
                        <th style="width: 3%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="staffCost in vm.staffCosts">
                        <td>
                            {{ staffCost.EmployeeCode}}
                        </td>
                        <td>
                            {{ staffCost.EmployeeName}}
                        </td>
                        <td>
                            {{ staffCost.Level}}
                        </td>
                        <td>
                            {{ staffCost.Amount}}
                        </td>
                        <td>
                            {{ staffCost.BranchCode}}
                        </td>
                        <td>
                            {{ staffCost.MISCode}}
                        </td>
                        
                        <td>
                            <a class="btn btn-orange btn-xs" data-ui-sref="mpr-staffcost-edit({staffcostId: staffCost.StaffCostId})">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
