

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div>
                <a class="btn btn-info btn-xs" ng-click="vm.getUnMappedGLs()"> Check Un-Mapped Opex GLs</a>
            </div>
            <br />

            <table id="unMappedGLTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>GL Code</th>
                        <th>Description</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="unMappedGL in vm.unMappedGLs">
                        <td>
                            {{ unMappedGL.Key}}
                        </td>
                        <td>
                            {{ unMappedGL.Value}}
                        </td>
                       
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
