

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div>
                <a class="btn btn-info btn-xs" data-ui-sref="core-upload-edit({uploadId:0})"> Create New</a>
            </div> 
            <br />
            
            <table id="uploadTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Code</th>
                        <th>Solution</th>
                        <th>Action</th>
                        <th>Position</th>
                        <th>Bulk Upload</th>
                        <th style="width: 3%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="upload in vm.uploads">
                        <td>
                            {{ upload.Title}}
                        </td>
                        <td>
                            {{ upload.Code}}
                        </td>
                        <td>
                            {{ upload.SolutionName}}
                        </td>
                        <td>
                            {{ upload.Action}}
                        </td>
                        <td>
                            {{ upload.Position}}
                        </td>
                        <td>
                            {{ upload.BulkUpload}}
                        </td>
                        <td>
                            <a class="btn btn-orange btn-xs" data-ui-sref="core-upload-edit({uploadId: upload.UploadId})">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
