

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div>
                <a class="btn btn-info btn-xs" data-ui-sref="scd-actualdata-edit({actualdataId:0})"> Create New</a>
            </div> 
            <br />
            
            <table id="categoryTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>Mis Code</th>
                        <th >Caption</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Period</th>
                        <th>Year</th>
                     
                        <th style="width: 3%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="actual in vm.actuals">
                        <td>
                            {{actual.MisCode}}
                        </td>
                        <td>
                            {{actual.Caption}}
                        </td>
                        <td>
                            {{actual.Amount | currency :"":0}}
                        </td>
                        <td>
                            {{actual.Date | date}}
                        </td>
                        <td>
                            {{actual.Period}}
                        </td>
                        <td>
                            {{actual.Year}}
                        </td>
                        <td>
                            <a class="btn btn-orange btn-xs" data-ui-sref="scd-actualdata-edit({actualdataId:actual.ActualId})">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
