<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#general" role="tab" data-toggle="tab"><i class="fa fa-home"></i> General</a></li>
                    </ul>

                    <div id="general" class="tab-content">
                        <div id="tab-edit" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="tab-content">
                                        <form action="#" class="form-horizontal">
                                            <div class="form-body">

                                                <div data-ng-include="'app/common/views/validation-view.html'"></div>
                                              
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">KPI</label>
                                                    <div class="col-sm-9 controls">
                                                        <select class="form-control" ng-model="vm.targetMapping.KPICode" ng-options="kpi.Code as kpi.Name for kpi in vm.kpis" style="width:250px;background-color: lightblue"></select>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label class="col-sm-3">KPI Calculator</label>
                                                    <div class="col-sm-9 controls">
                                                        <select class="input input-sm col-sm-9 control-label" ng-model="vm.selectedTargetCaption" ng-options="targetCaptions.Caption as targetCaptions.Caption for targetCaptions in vm.captions" style="width:250px;" ng-change="vm.targetFormularChanged('[' + vm.selectedTargetCaption + ']')"></select>
                                                        &nbsp;
                                                        <button type="button" class="btn btn-warning btn-sm" ng-click="vm.targetFormularChanged('+')"><span style="font-weight:700">+</span></button>
                                                        <button type="button" class="btn btn-warning btn-sm" ng-click="vm.targetFormularChanged('-')"><span style="font-weight:700">-</span></button>
                                                        <button type="button" class="btn btn-warning btn-sm" ng-click="vm.targetFormularChanged('/')"><span style="font-weight:700">/</span></button>
                                                        <button type="button" class="btn btn-warning btn-sm" ng-click="vm.targetFormularChanged('*')"><span style="font-weight:700">*</span></button>
                                                        <button type="button" class="btn btn-warning btn-sm" ng-click="vm.targetFormularChanged('(')"><span style="font-weight:700">(</span></button>
                                                        <button type="button" class="btn btn-warning btn-sm" ng-click="vm.targetFormularChanged(')')"><span style="font-weight:700">)</span></button>
                                                    </div>

                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Formula</label>
                                                    <div class="col-sm-9 controls">
                                                        <textarea rows="3" class="form-control input-sm" kpi-formular="" data-ng-model="vm.targetMapping.Formula" style="width: 400px; background-color: lightblue"></textarea>
                                                        <!--<textarea rows="3" class="form-control input-sm" kpi-formular="" data-ng-model="vm.actualMapping.Formula" style="width: 400px; background-color: lightblue"></textarea>-->
                                                    </div>
                                                </div> 

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Period</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="number" class="form-control input-sm" data-ng-model="vm.targetMapping.Period" style="width: 50px; background-color: lightblue" />

                                                    </div>
                                                </div> 

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Year</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.targetMapping.Year" style="width: 150px; background-color: lightblue" />
                                                    </div>
                                                </div> 
                                                                                         
                                                <div class="form-group mbn">
                                                    <label class="col-sm-3 control-label"></label>
                                                    <div class="col-sm-9 controls">
                                                        <button type="button" class="btn btn-success btn-xs" ng-click="vm.save()">
                                                            <i class="fa fa-save"></i>&nbsp;
                                                            Save
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-xs" data-ng-click="vm.delete()">Delete</button>
                                                        <button type="button" class="btn btn-default btn-xs" data-ng-click="vm.cancel()">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

