

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div>
                <a class="btn btn-info btn-xs" data-ui-sref="scd-teammap-edit({teammapId:0})"> Create New</a>
            </div> 
            <br />
            
            <table id="teamMapTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>Staff</th>
                        <th>Staff Name</th>
                        <th>Mis</th>
                        <th>Mis Name</th>
                        <th>Definition</th>
                        <!--<th>Definition Name</th>-->
                        <th>Centre</th>
                        <th>Grade</th>
                        <!--<th>Classification</th>-->
                        <th>KPI Collection</th>
                     
                        <th style="width: 3%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="teamMap in vm.teamMaps">
                        <td>
                            {{teamMap.StaffCode}}
                        </td>
                        <td>
                            {{teamMap.StaffName}}
                        </td>
                        <td>
                            {{teamMap.MISCode}}
                        </td>
                        <td>
                            {{teamMap.MISName}}
                        </td>
                        <td>
                            {{teamMap.TeamDefinitionCode}}
                        </td>
                      
                        <td>
                            {{teamMap.CentreName}}
                        </td>
                        <td>
                            {{teamMap.Grade}}
                        </td>
                       
                        <td>
                            {{teamMap.TeamClassificationName}}
                        </td>
                        <td>
                            <a class="btn btn-orange btn-xs" data-ui-sref="scd-teammap-edit({teammapId:teamMap.TeamMapId})">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
