#passwordtext i:after {
    font-family: 'FontAwesome';
    position: relative;
    left: -26px;
    content: "\f06e";
}

/*#passwordtext:before {
    font-family: 'FontAwesome';
    position: relative;
    right: -19px;
    top: 1px;
    content: "\f023";
}*/

/*#passwordtext input {
    text-align: center;
}*/
