

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div>
                <a class="btn btn-info btn-xs" data-ui-sref="cdqm-customermis-edit({customermisId:0})"> Create New</a>
            </div> 
            <br />
            
            <table id="customerMISTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>Target Market Code</th>
                        <th>Target Market Name</th>
                        <th>Segment Code</th>
                        <th>Segment Name</th>
                        <th>Group Code</th>
                        <th>Group Name</th>
                        <th>Division Code</th>
                        <th>Division Name</th>

                       
                        <th style="width: 3%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="customerMIS in vm.customerMISs">
                        <td>
                            {{ customerMIS.TargetMarketCode}}
                        </td>

                        <td>
                            {{ customerMIS.TargetMarketName}}
                        </td>
                        <td>
                            {{ customerMIS.SegmentCode}}
                        </td>
                        <td>
                            {{ customerMIS.SegmentName}}
                        </td>
                        <td>
                            {{ customerMIS.GroupCode}}
                        </td>
                        <td>
                            {{ customerMIS.GroupName}}
                        </td>
                        <td>
                            {{ customerMIS.DivisionCode}}
                        </td>
                        <td>
                            {{ customerMIS.DivisionName}}
                        </td>
                       
                        <td>
                            <a class="btn btn-orange btn-xs" data-ui-sref="cdqm-customermis-edit({customermisId: customerMIS.CustomerMISId})">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
