<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#general" role="tab" data-toggle="tab"><i class="fa fa-home"></i> General</a></li>
                    </ul>

                    <div id="general" class="tab-content">
                        <div id="tab-edit" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-content">
                                        <form action="#" class="form-horizontal">
                                            <div class="form-body">

                                                <div data-ng-include="'app/common/views/validation-view.html'"></div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">S/N</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.merchant.SN" style="width:150px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Branch Name</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.merchant.BranchName" style="width:250px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Officer Code</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.merchant.AccountOfficerCode" style="width:250px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Team Code</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.merchant.TeamCode" style="width:250px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">SBU</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.merchant.SBU" style="width:250px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Merchant Code</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.merchant.MerchantCode" style="width:250px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Merchant Name</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.merchant.MerchantName" style="width:250px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Contact Title</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.merchant.ContactTitle" style="width:250px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Contact Name</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.merchant.ContactName" style="width:250px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Mobile Phone</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.merchant.MobilePhone" style="width:250px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Email</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="email" class="form-control input-sm" data-ng-model="vm.merchant.Email" style="width:250px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Address</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.merchant.PhysicalAddr" style="width:250px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Terminal ID</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.merchant.TerminalID" style="width:250px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Bank Code</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.merchant.BankCode" style="width:250px;background-color:lightblue" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                   

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Bank AcctNo</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.merchant.BankAccNo" style="width:250px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Bank AccType</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.merchant.BankAccType" style="width:250px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Occupation Code</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.merchant.BusinessOccupationCode" style="width:250px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Category Code</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.merchant.MerchantCategoryCode" style="width:250px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">State Code</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.merchant.StateCode" style="width:250px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Visa ID</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.merchant.VisaAcquireIDNumber" style="width:250px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Verve ID</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.merchant.VerveAcquireIDNumber" style="width:250px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Master ID</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.merchant.MasterCardAcquireIDNumber" style="width:250px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Terminal Code</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.merchant.TerminalOwnerCode" style="width:250px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">LGA LCDA</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.merchant.LGALCDA" style="width:250px;background-color:lightblue" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">PTASP</label>
                                                        <div class="col-sm-9 controls">
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.merchant.PTASP" style="width:250px;background-color:lightblue" />
                                                        </div>
                                                    </div>
                                                </div>

                                                   

                                                    

                                                    <div class="form-group mbn">
                                                        <label class="col-sm-3 control-label"></label>
                                                        <div class="col-sm-9 controls">
                                                            <button type="button" class="btn btn-success btn-xs" ng-click="vm.save()">
                                                                <i class="fa fa-save"></i>&nbsp;
                                                                Save
                                                            </button>
                                                            <button type="button" class="btn btn-danger btn-xs" data-ng-click="vm.delete()">Delete</button>
                                                            <button type="button" class="btn btn-default btn-xs" data-ng-click="vm.cancel()">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            

        </div>
    </div>
</div>

   