

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div>
                <a class="btn btn-info btn-xs" data-ui-sref="cdqm-product-edit({productId:0})"> Create New</a>
            </div> 
            <br />
            
            <table id="productTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Cardable</th>
                        <th>Customer Type</th>
                        <th>Min. Age</th>
                        <th>Max. Age</th>
                        <th>Segment</th>
                        <th>Customer MIS</th>
                       
                        <th style="width: 3%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in vm.products">
                        <td>
                            {{ product.ProductCode}}
                        </td>

                        <td>
                            {{ product.ProductName}}
                        </td>
                        <td>
                            {{ product.IsCardable}}
                        </td>
                        <td>
                            {{ product.CustomerType}}
                        </td>
                        <td>
                            {{ product.MinimumAge}}
                        </td>
                        <td>
                            {{ product.MaximumAge}}
                        </td>
                        <td>
                            {{ product.ProductSegment}}
                        </td>
                        <td>
                            {{ product.CustomerMIS}}
                        </td>

                        <td>
                            <a class="btn btn-orange btn-xs" data-ui-sref="cdqm-product-edit({productId: product.ProductId})">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
