

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div class="row">
                <div class="col-md-7">
                    <label for="" class="control-label">Reference Number :</label>

                    <select class="input-sm" ng-model="vm.RefNo" ng-options="distinctRefNo.RefNo as distinctRefNo.RefNo for distinctRefNo in vm.distinctRefNos" style="width:150px;"></select>
                    <button type="button" class="btn btn-default btn-sm" ng-click="vm.load()">Load</button>
                    <!--<button type="button" ng-csv="vm.bondComputationResultZeros" filename="BondComputationResultZeroExport.csv">Full Export</button>-->
                    <button ng-click="vm.exportToExcel('#bondComputationResultZeroTable')">Export</button>

                </div>

            </div>
            <br />
            
            <table id="bondComputationResultZeroTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>RefNo</th>
                        <th>Day</th>                 
                        <th>Date</th>
                        <th>OpeningBalance</th>                    
                        <th>DailyCoupon</th>
                        <th>DailyYield</th>
                        <th>AmortizedPremiumDisc</th>
                        <th>ClosingBalance</th>
                        <th>IRR</th>
                        <th>Period</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bondComputationResultZero in vm.bondComputationResultZeros">
                        <td>
                            {{ bondComputationResultZero.RefNo}}
                        </td>
                        <td>
                            {{ bondComputationResultZero.Day}}
                        </td>
                        <td>
                            {{ bondComputationResultZero.Date | date}}
                        </td>
                        <td>
                            {{ bondComputationResultZero.OpeningBalance}}
                        </td>                   
                        <td>
                            {{ bondComputationResultZero.DailyCoupon}}
                        </td>
                        <td>
                            {{ bondComputationResultZero.DailyYield}}
                        </td>
                        <td>
                            {{ bondComputationResultZero.AmortizedPremiumDisc}}
                        </td>
                        <td>
                            {{ bondComputationResultZero.ClosingBalance}}
                        </td>
                        <td>
                            {{ bondComputationResultZero.IRR}}
                        </td>
                        <td>
                            {{ bondComputationResultZero.Period}}
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
