

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div>
                <a class="btn btn-info btn-xs" data-ui-sref="finstat-budget-edit({ifrsbudgetId:0})"> Create New</a>
            </div> 
            <br />
            
            <table id="budgetTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                         <th>Caption Name</th>
                        <th>Strecth Budget</th>
                        <th>Board Budget</th>
                        <th>Report Date</th>
                        <th style="width: 3%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="budget in vm.ifrsbudgets">
                        <td>
                            {{ budget.CaptionName}}
                        </td>
                        <td>
                            {{ budget.StretchBudget | currency:''}}
                        </td>
                        <td>
                            {{ budget.BoardBudget | currency:''}}
                        </td>
                        <td>
                            {{ budget.ReportDate}}
                        </td>
                        <td>
                            <a class="btn btn-orange btn-xs" data-ui-sref="finstat-budget-edit({ifrsbudgetId: budget.IFRSBudgetId})">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>


